.article-content {
    min-height: 100vh;
    background-color: #efefef;
    overflow-x: visible;
    padding-top: 10px;
    width: $content-width;
    padding-left: calc((100vw + 165px - #{$content-width})/2);
    padding-right: calc((100vw - 180px - #{$content-width})/2);
    & > *:last-child {
        margin-bottom: 0;
        padding-bottom: 20px;
    }
    @media screen and (min-width: 1500px) {
        padding-left: calc((100vw - #{$content-width})/2);
        padding-right: calc((100vw - #{$content-width})/2);
    }
    @media screen and (max-width: 1100px) {
        width: calc(100% - 210px);
        padding-left: 190px;
        padding-right: 10px;
    }
    @media screen and (max-width: $mobile-breakpoint) {
        padding: 0;
        width: 100%;
        overflow: hidden;
        padding-top: 0;
        & > * {
            margin-left: 5px;
            margin-right: 5px;
        }
    }
}
.article-title {
    @media screen and (max-width: $mobile-breakpoint) {
        display: none;
    }
}
.mainimg {
    text-align: center;
    max-height: 600px;
    img {
        max-width: 100%;
        max-height: 600px;
        border: 1px solid $light-grey;
    }
    @media screen and (max-width: $mobile-breakpoint) {
        margin: 0;
        img {
            width: 100%;
            border-left: 0;
            border-right: 0;
        }
    }
}
.article-img-center {
    text-align: center;
    margin-left: 0;
    margin-right: 0;
    img {
        max-width: 100%;
        max-height: 600px;
        border: 1px solid $light-grey;
    }
    @media screen and (max-width: $mobile-breakpoint) {
        width: 100%;
        img {
            border-left: 0;
            border-right: 0;
        }
    }
}
.article-img-left {
    float: left;
    margin-right: 20px;
    margin-left: 0;
}
.article-img-right {
    float: right;
    margin-left: 20px;
    margin-right: 0;
}
.article-img-left,
.article-img-right {
    width: $content-width / 2;
    text-align: center;
    img {
        border: 1px solid $light-grey;
        max-width: 100%;
        max-height: 600px;
    }
    @media screen and (max-width: $mobile-breakpoint) {
        float: none;
        margin-left: 0;
        margin-right: 0;
        width: calc(100% - 10px);
        img {
            border-left: 0;
            border-right: 0;
        }
    }
}
figcaption {
    font-size: 0.9rem;
}
.photo-button {
    padding: 5px;
    color: $links;
    text-decoration: underline;
    font-size: 1.5rem;
    font-weight: bold;
}
.photo-button-wrapper {
    text-align: center;
}
.anchor {
    position: absolute;
}

blockquote {
    margin: 0 100px;
    padding: 10px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    background-color: #f5f3c4;
}
.article-content {
    blockquote {
        address,
        dl,
        ol,
        p,
        pre,
        ul {
            margin-left: 0;
            margin-right: 0;
        }
        h1,
        h2,
        h3,
        h4,
        h5 {
            margin-left: 0;
            margin-right: 0;
        }
        input {
        }
    }
}

#edit-button {
    margin-top: -15px;
    font-size: 0.8rem;
    text-align: center;
    padding-bottom: 15px;
}