.index-container {
	width: $content-width;
	margin: 10px calc((100vw - 180px - #{$content-width} )/2) 0 calc((100vw + 165px - #{$content-width} )/2); //165 was just a value that worked
	@media screen and (min-width: 1500px) {
		margin-left: calc((100vw - #{$content-width} )/2);
		margin-right:  calc((100vw - #{$content-width} )/2);
	}
	@media screen and (max-width: 1100px) {
		width: calc(100% - 210px);
		margin: 10px 10px 0 190px;
	}
	@media screen and (max-width: $mobile-breakpoint) {
		padding: 0;
		margin: 0;
		width: 100%;
	}
}
.content-box {
	margin: 0 0 20px;
	width: 100%;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
	background-color: rgb(246, 246, 246);
}
.content-header {
	display: table;
	width: 100%;
}
.content-left {
	height: 100%;
	display: table-cell;
	padding: 10px;
	background-color: $dark-grey;
	color: $offwhite;
}
.content-left a {
	color: $offwhite;
	text-decoration: none;
	font-family: $sans;
	font-weight: 700;
}
.content-right {
	height: 100%;
	width: 100px;
	text-align: center;
	display: table-cell;
	padding: 10px;
	background-color: $light-red;
	color: $offwhite;
	font-family: $sans;
	font-weight: 500;
}
.content {
	display: table;
	width: 100%;
	@media screen and (max-width: $mobile-breakpoint) {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
	}
}
.content-summary {
	padding: 0 15px;
	vertical-align: top;
	display: table-cell;
	vertical-align: middle;
	@media screen and (max-width: $mobile-breakpoint) {
		order: 3;
	}
}
.content-summary p {
	margin: 15px 0;
}
.index-thumbl {
	padding: 10px 0 0 10px;
	@media screen and (max-width: $mobile-breakpoint) {
		order: 1;
	}
}
.index-thumbr {
	padding: 10px 10px 0 0;
	@media screen and (max-width: $mobile-breakpoint) {
		order: 2;
	}
}
.index-thumbl, .index-thumbr {
	max-width: 225px;
	display: table-cell;
	vertical-align: middle;
	img {
		max-width: 225px;
		width: 100%;
		vertical-align: bottom;
	}
	@media screen and (max-width: $mobile-breakpoint) {
		margin-top: -1px;
		flex-basis: 50%;
		padding: 0;
	}
}
.content-footer {
	width: 100%;
	display: table;
}
.content-footer-center,
.content-footer-left,
.content-footer-right {
	width: 50%;
	display: table-cell;
	padding: 5px 5px 10px;
}
.content-footer-left {
	text-align: right;
}
.content-footer-center {
	text-align: center;
}
.content-footer-right {
	text-align: left;
}
a.footer-button {
	padding: 5px;
	font-family: $sans;
	font-weight: 500;
	color: $links;
	text-decoration: underline;
	&:visited {
		color: $visited-links;
	}
	&:hover {
		color: $link-hover;
	}
}
.paginator {
	text-align: center;
}

#new-button {
	margin-top: -15px;
    font-size: 0.8rem;
	text-align: center;
	padding-bottom: 15px;
}