.personimg {
	text-align: center;
}
.personimg > a > img {
	max-height: 400px;
	max-width: 100%;
	margin: 25px 25px 0;
	@media screen and (max-width: $mobile-breakpoint) {
		margin: 0;
	}
}
.badges {
	line-height: 0;
	border: 1px solid black;
	display: inline-block;
}
.badge {
	display: inline-block;
	margin: 5px;
}
