table.sortable td,
table.sortable th {
	min-width: 4em;
	text-align: center;
	
	@media screen and (max-width: $mobile-breakpoint) {
		min-width: 6em;
	}
}
table.sortable th:not(.sorttable_sorted):not(.sorttable_sorted_reverse):not(.sorttable_nosort):after {
	content: " \25B4\25BE";
}
/*For index on main page*/
/*Mostly just the calender/agenda*/
.content table {
	width: 100%;
}
/*For pretty much all other tables*/
.article-content table {
	border: 1px solid rgba(0, 0, 0, 0.12);
	
	@media screen and (max-width: $mobile-breakpoint) {
		margin: 0
	}
}
/*For the list of caves/cavers*/
/*Because they're the main event on their pages it looks*/
/*nicer this way*/
.widetable {
	margin: 0 !important;
  width: 100% !important;
}
/*This is so that tables that overflow the article container don't*/
/*cause the whole article to horizontally scroll, just the table*/
.table-container {
	overflow-x: auto;
	overflow-y: hidden;
	@media screen and (max-width: $mobile-breakpoint) {
		margin: 0 -10px;
	}
}
table {
	border-collapse: collapse;
	font-family: $sans;
}
td,
th {
	padding: 0.5rem;
	font-weight: $blackweight;
	text-align: left;
	@media screen and (max-width: $mobile-breakpoint) {
		padding: 0.3rem;
	}
}
tbody {
	> tr:nth-child(even) {
		background-color: rgba(255,255,255,0.83);
	}
	> tr:nth-child(odd) {
		background-color: rgba(245,245,245,0.83);
	}
}
thead > tr {
	border-bottom: 1px solid rgba(0, 0, 0, 0.12);
	background-color: #ffffff;
}
