$links: #AB4444;
$link-hover: #D46A6A; /*Link hover*/
$visited-links: #801515; /*Darker Red (Visited Links)*/

$dark-grey: #2D2D2D; /*Dark grey (Background Colour for Banner/Sidebar/Headers H1)*/
$light-grey: #CACACA; /*(Body Background)*/
$light-red: #AB4444; /*(Highlight colour for Banner/Sidebar/Headers H3/text)*/

$black: #000000; /*Article backgrounds*/
$white: #FFFFFF; /*Index item backgrounds*/
$offwhite: #E8E8E8;
$transwhite: rgba(255, 255, 255, 0.83); /*Off White (Backgrounds/ Large Text on dark backgrounds)*/
/*Normal text colour*/

/* Widths */
//$content-width: 800px;
$content-width: 640px;

/* Fonts */
$sans: Roboto, Tahoma, Arial, sans-serif;
$serif: "Roboto Slab", "Times New Roman", Times, serif;
$h1weight: 700;
$h2weight: 500;
$h3weight: 400;
$h4weight: 400;
$h5weight: 400;
$blackweight: 300;

/*Mobile breakpoint*/
$mobile-breakpoint: 750px;
