#ignore gnerated site
/output/
#ignore cache folder
/cache/
#ignore photo_archive folder
/photo_archive/
#ignore virtualenv - use requirements.txt to install your own
/.env/

#ignore any photos
*.jpg
*.JPG
*.jpeg
*.JPEG


ignore stupid files
*.md~
*.pyc
*.pid

ignore sass cache
.sass-cache/
