#ignore gnerated site
/output/
#ignore cache folder (I dont know what this is for really)
/cache/
#ignore photo_archive folder (this is generated because the NZ site isnt the root of the webserver)
/photo_archive/

#ignore any photos
*.jpg
*.JPG
*.jpeg
*.JPEG
#Except that one from Andy's NZ trip
!content/oldnz/newzealand-2010-10-15.jpg


ignore stupid files
*.md~
*.pyc
*.pid

ignore sass cache
*/.sass-cache/
