{% extends "base.html" %} {% block head %}
<script src="{{ SITEURL }}/theme/js/sorttable.js"></script>
{% endblock %} {% block banner %}{{ pagename }}{% endblock banner %} {% block content %}
<div class="container">
  <div class="article-content">
      <h1 class="article-title">{{ pagename }}</h1>
      <h2>Information</h2>
      <p>
      {% if metadata.country is defined %}
      <span class="highlight">Country:</span> <a href=".?search={{ metadata.country }}">{{ metadata.country }}</a><br>
      {% endif %}
      {% if metadata.region is defined %}
      <span class="highlight">Region:</span> <a href=".?search={{ metadata.region }}">{{ metadata.region }}</a><br>
      {% endif %}
      {% if metadata.subregion is defined %}
      <span class="highlight">Subregion:</span> <a href=".?search={{ metadata.subregion }}">{{ metadata.subregion }}</a><br>
      {% endif %}
      {% if metadata.system is defined %}
      <span class="highlight">System:</span> <a href=".?search={{ metadata.system }}">{{ metadata.system }}</a><br>
      {% endif %}
      </p>

      {{ content }}

      <h2>Reports</h2>
      <div class="table-container">
        <table class="sortable widetable">
          <tr>
            <th>Report</th>
            <th>Date</th>
            <th>Report about cave</th>
          </tr>
          {% for subarticle, date, verified in cave_articles %}
          <tr>
            <td><a href="{{ SITEURL }}/{{ subarticle.url }}">{{ subarticle.title }}</a>
            </td>
            <td>{{ date.strftime('%d-%m-%Y') }}</td>
            <td>{{ '✓' if verified else '✕' }}</td>
          </tr>
          {% endfor %}
        </table>
      </div>
  </div>
</div>

{% if data is defined %}
<script style="display: none;" id="metadata" type="application/json">
  {
  {% for key in data %}
  {% if loop.index > 1 %},{% endif %}
  """{{ key }}""":"""{{ data[key] }}"""
  {% endfor %}
  }
</script>
{% endif %}

{% endblock %}
