{% extends "base.html" %}
{% block banner %}
Imperial College Caving Club
{% endblock banner %}

{% block content %}
<div class="index-container">
  {% if articles %}
    {% for article in articles %}
      {% if previous_page == None %}
        {% if article.type == 'stickyindex' %}
          <div class="content-box">
            <div class="content-header">
              <div class="content-left">
                <div><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></div>
              </div>
            </div>
            <div class="content">
              {{ article.content }}
            </div>
          </div>

        {% endif %}
      {% endif %}
    {% endfor %}
    {% for article in current_page %}
      {% if article.type != 'stickyindex' and article.status != "unlisted" %}
        <div class="content-box">
          <div class="content-header">
            <div class="content-left">
              <div><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></div>
            </div>
            <div class="content-right">
              <div>{{ article.date.strftime('%d-%m-%Y') }}</div>
            </div>
          </div>
          <div class="content">
              {% if 'thumbl' in article.metadata %}
                {% if article.metadata['thumbl'] != '' %}
                <div class="index-thumbl">
                  <a href="{{ article.metadata['archiveloc'] }}{{ article.metadata['thumbl']|replace("--thumb.jpg", ".html") }}"><img alt="Thumbnail of photo from this article" src="{{ article.metadata['archiveloc'] }}{{ article.metadata['thumbl'] }}"></a>
                </div>
                {% endif %}
              {% endif %}
              <div class="content-summary">
              {% if article.type != 'index' %}{{ article.summary }}{% else %}{{ article.content }}{% endif %}
              </div>
              {% if 'thumbr' in article.metadata %}
                {% if article.metadata['thumbr'] != '' %}
                <div class="index-thumbr">
                  <a href="{{ article.metadata['archiveloc'] }}{{ article.metadata['thumbr']|replace("--thumb.jpg", ".html") }}"><img alt="Thumbnail of photo from this article" src="{{ article.metadata['archiveloc'] }}{{ article.metadata['thumbr'] }}"></a>
                </div>
                {% endif %}
              {% endif %}
          </div>
          <div class="content-footer">
            {% if article.type != 'index' %}
              {% if article.metadata['archiveloc'] is defined %}
              <div class="content-footer-left">
                <a class="footer-button" href="{{ SITEURL }}/{{ article.url }}">More</a>
              </div>
              <div class="content-footer-right">
                    <a class="footer-button" href="{{ article.metadata['archiveloc'] }}">Photos</a>
              </div>
              {% else  %}
              <div class="content-footer-center">
                <a class="footer-button" href="{{ SITEURL }}/{{ article.url }}">More</a>
              </div>
              {% endif %}
            {% else %}
              {% if article.metadata['archiveloc'] is defined %}
              <div class="content-footer-left">
                <a class="footer-button" href="{{ article.link }}">{{ article.linktext }}</a>
              </div>
              <div class="content-footer-right">
                    <a class="footer-button" href="{{ article.metadata['archiveloc'] }}">Photos</a>
              </div>
              {% else  %}
              <div class="content-footer-center">
                <a class="footer-button" href="{{ article.link }}">{{ article.linktext }}</a>
              </div>
              {% endif %}
            {% endif %}
          </div>
        </div>

      {% endif %}
    {% endfor %}
  {% endif %}

  <p class="paginator">
    {% if previous_page %}
    <a href={{ SITEURL }}/{{ previous_page }}>«</a>
    {% endif %}
    Page {{ current_page_number }} / {{ index_pages|length }}
    {% if next_page %}
    <a href={{ SITEURL }}/{{ next_page }}>»</a>
    {% endif %}
  </p>

  {% include 'includes/license.html' %}
  <div id="new-button"><a href="{{ SITEURL }}/apps/editor/?state=new">Create new article</a></div>  
</div>
{% endblock content %}
