/* IC caving web site style sheet for main pages
*/

@font-face {
	font-family: 'Roboto-Regular'; /*a name to be used later*/
	src: url('../fonts/Roboto-Regular.ttf'); /*URL to font*/
}

@font-face {
	font-family: 'Roboto-Black'; /*a name to be used later*/
	src: url('../fonts/Roboto-Black.ttf'); /*URL to font*/
}

@font-face {
	font-family: 'Roboto-Bold'; /*a name to be used later*/
	src: url('../fonts/Roboto-Bold.ttf'); /*URL to font*/
}

@font-face {
	font-family: 'Roboto-Medium'; /*a name to be used later*/
	src: url('../fonts/Roboto-Medium.ttf'); /*URL to font*/
}

@font-face {
	font-family: 'Roboto-Thin'; /*a name to be used later*/
	src: url('../fonts/Roboto-Thin.ttf'); /*URL to font*/
}


/* Global Page Properties */
body,html{
	height:100%;
}

body {
	background-color: #5DACC2;
	background-image: url(/assets/nz.svg);
	background-size: 700px;
	background-repeat: no-repeat;
	color: #000000;
	background-position-y: 50px;
	background-position-x: right;
	background-attachment: fixed;
	font-family: Roboto-Regular, Helvetica, Arial, sans-serif;
	font-size: 16px;
	margin: 0px;

	padding-right: 220px;
	margin-right: -220px;
	overflow-x: hidden;
}
/* Heading Properties */

H1 {
	font-family: Roboto-Bold, Helvetica, Arial, sans-serif;
	font-size: 1.25rem;
	text-align: right;
	color:	#000000; }

H2 {
		font-size: 1.125rem;
		font-weight: bold;
		color: #000000;
		}

H3 {
		font-size: 1rem;
		font-weight: bold;
		color: #000000;
			}

/* Text and link properties */

a {
	color: #B90504;
	text-decoration: underline;
}

a:visited {
	color: #333333
}

/* Column Layout */

.banner {
	min-height: 90px;
	background-color: #143B46;
	overflow: hidden;
	width: 100%;
	position:	fixed;
}

.banner-title {
	font-size: 3rem;
	font-family: Roboto-Black, Helvetica, Arial, sans-serif;
	padding: 15px 0px 15px 20px;
	color: #E8E8E8;
	float: left;
}

.banner-date {
	color: #407F7F;
	display: inline-block;
}

.left-col {
		float: left;
		width: 220px;
		height: 100%;
		vertical-align: top;
		background-color: #143B46;
		overflow-y: auto;
		overflow-x: hidden;
		position: fixed;
		margin-top: 90px;
		z-index: 1;
}

.center-col {
		float: left;
		vertical-align: top;
		margin-left: 220px;
		margin-top: 90px;
		height: 100%;
		width: calc(100% - 440px);
}

.right-col {
		float: left;
		height: 100%;
		width: 220px;
		vertical-align: top;
		/* background-image: url(/assets/nz.svg); */
		/* background-attachment: scroll; */
		/* background-size: 220px; */
		background-repeat: no-repeat;
		background-position: 0;
}

.container {
	width: 800px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	margin-bottom: 20px;
}



/*Sidebar properties*/.

.sidebar {
	min-height: 100%;
	float: left;
	width: 100%;
 }

.logo {
	width: 220px;
	height: 85px;
	background-image: url(/assets/logo.svg);
	background-size: 180px 85px;
	background-position: center;
	background-repeat: no-repeat;
	float: left;
}

.sidebar-content-box {
	font-family: Roboto-Medium, Helvetica, Arial, sans-serif;
	font-size: 0.8rem;
}

.sidebar-item a, .sidebar-sub-item a {
	display: block;
	width: 100%;
	height: 100%;
	text-decoration: none;
	color: #E8E8E8;

	transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
	transition-delay: 0.2s;
	-moz-box-shadow:    inset 0 0 0px #000000;
	-webkit-box-shadow: inset 0 0 0px #000000;
	box-shadow:         inset 0 0 0px #000000;
}

.sidebar-item a:active, .sidebar-sub-item a:active, .sidebar-sub-sub-item a:active {
	-moz-box-shadow:    inset 0 0 10px #000000;
	-webkit-box-shadow: inset 0 0 10px #000000;
	box-shadow:         inset 0 0 10px #000000;
	transition-delay: 0s;
}

.sidebar-item a:hover, .sidebar-sub-item a:hover, .sidebar-item:hover, .sidebar-sub-item:hover {
	text-decoration: none;
	background-color: #A6373F;
}

.sidebar-sub-item a:hover {
	font-family: Roboto-Regular, Helvetica, Arial, sans-serif;
}
.sidebar-item a {
	font-family: Roboto-Medium, Helvetica, Arial, sans-serif;
	padding: 10px 0px 10px 20px;
}

.sidebar-sub-item a {
	font-family: Roboto-Thin, Helvetica, Arial, sans-serif;
	padding: 10px 0px 10px 60px;
}

.sidebar-item.no-link a:hover, .sidebar-item.no-link:hover {
	text-decoration: none;
	background-color: transparent;
}

.sidebar-item.no-link a {
	transition: none;
	box-shadow: none;
}

.collapsed {
	max-height:0px;
}

.sidebar-outer {
	-webkit-transition: max-height .5s ease;
		-moz-transition: max-height .5s ease;
					transition: max-height .5s ease;
	overflow: hidden;
}
/* Index Content properties */

.content {
	display:table;
	width: calc(100% - 20px);
	padding: 10px 10px 0px 10px;
}
.content p{
	margin: 0px 0px 0px 0px;
}

.content-summary {
	display: table-cell;
	padding: 0px 10px;
	vertical-align: top;
}

.index-thumbl {
	display: table-cell;
	width: 150px;
}

.index-thumbl img {
	width: 150px;
}

.index-thumbr {
	display: table-cell;
	width: 150px;
}

.index-thumbr img {
	width: 150px;
}

.content-box {
	margin: 0px 0px 20px 0px;
	width: 100%;
	border-radius: 2px;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
	background-color: #F6F6F6
}

.content-header {
	display: table;
	width: 100%;
}

.content-left {
	height: 100%;
	display: table-cell;
	padding: 10px 10px 10px 10px;
	background-color: #143B46;
	color: #E8E8E8;
}

.content-left a {
	color: #E8E8E8;
	text-decoration: none;
	font-family: Roboto-Bold, Helvetica, Arial, sans-serif;
}

.content-right {
	height: 100%;
	width: 150px;
	text-align: right;
	display: table-cell;
	padding: 10px 10px 10px 10px;
	background-color: #A6373F;
	color: #E8E8E8;
	font-family: Roboto-Medium, Helvetica, Arial, sans-serif;
}

.content-header-left, .content-header-right, {
	margin: 5px 0px 0px 0px;
	}

.content-footer {
	width: 100%;
	display: table;
}

.content-footer-left, .content-footer-right, .content-footer-center {
		width: 50%;
		display: table-cell;
		padding: 5px 5px 10px 5px;
	}

.content-footer-left {
	text-align: right;
	}

.content-footer-center {
		text-align: center;
	}

.content-footer-right {
	text-align: left;
	}

a.footer-button {
	padding: 5px 5px 5px 5px;
	font-family: Roboto-Medium, Helvetica, Arial, sans-serif;
	color: #A6373F;
	text-decoration: none;
}

a.footer-button:visited: {
	color: #333333
}

/*Article and Page Content Styling */
.article-content {
	border-radius: 2px;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
	background-color: #F6F6F6;
	padding: 10px 10px 10px 10px;
}

.mainimg img {
	width: 780px;
}


/*Horizontal rule stylings */

hr.hrstyle {
	border: 0;
	height: 1px;
	background: #333;
	background-image: -webkit-linear-gradient(left, #ccc, #333, #ccc);
	background-image:    -moz-linear-gradient(left, #ccc, #333, #ccc);
	background-image:     -ms-linear-gradient(left, #ccc, #333, #ccc);
	background-image:      -o-linear-gradient(left, #ccc, #333, #ccc);
}

hr.hrsidebar {
	border-top: 1px solid #E8E8E8;
	border-bottom: 0px solid transparent;
}

hr.hrsidebartop {
	border-top: 1px solid #E8E8E8;
	border-bottom: 0px solid transparent;
	margin-top: 0px;
}


  /*Screen size stuff*/
  /* Below 1500px right-col removed, centre col resized and given some padding against the left col */
@media screen and (max-width: 1500px) {
.container {
	padding-left: 5px;
}
.center-col {
    width: calc(100% - 220px);
}
.right-col {
    display: none;
}
}

/* Below 1100px*/

@media screen and (max-width: 1100px) {
		.container {
			width: calc(100% - 20px);
		}
}
