/* IC caving web site style sheet for main pages
*/

@font-face {
	font-family: 'Roboto-Regular'; /*a name to be used later*/
	src: url('/theme/fonts/Roboto-Regular.ttf'); /*URL to font*/
}

@font-face {
	font-family: 'Roboto-Black'; /*a name to be used later*/
	src: url('/theme/fonts/Roboto-Black.ttf'); /*URL to font*/
}

@font-face {
	font-family: 'Roboto-Bold'; /*a name to be used later*/
	src: url('/theme/fonts/Roboto-Bold.ttf'); /*URL to font*/
}

@font-face {
	font-family: 'Roboto-Medium'; /*a name to be used later*/
	src: url('/theme/fonts/Roboto-Medium.ttf'); /*URL to font*/
}
/* Page properties */
body,html{
	height:100%;
	overflow: hidden;
}

body {
	background-color: #757575;
	color: #000000;
	font-family: Roboto-Regular, Helvetica, Arial, sans-serif;
	font-size: 16px;
	margin: 0px;
	}

/* Paragraphs */

P {	/*color: #CCCCCC;
	font-size: 0.938rem;*/ }

/* Link properties */

a:link     {	text-decoration: none;
		color: #FF1111;
		/*font-weight: bold*/ }
a:visited {	text-decoration: none;
		color: #7A0000;
		/*font-weight: bold*/ }
a:hover {
	color: #FFFFFF ;}

/* Heading Properties */

H1 {
	font-size: 20px;
	text-align: right;
	color:	#000000/*#F74037*/; }

H2 {
		font-size: 18px;
		font-weight: bold;
		color: #000000;
		}

H3 {
		font-size: 16px;
		font-weight: bold;
		color: #000000;
			}

/* Header content */

.header{
	height: 100px;
	background-color: #000000;
	background-size: 100%;
	background-position: center;
	position: relative;
}

.header-text{
	width: 800px;
	height: 65px;
	overflow: visible;
	margin: auto;
	margin-bottom: 10px;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	text-align:center;
}

a.header-link {
	font-size:50px;
	color:#7A0000;
	padding:10px 0px 10px 0px;
	margin: 0px;
	text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
}

a.header-link:visited {
		color: #7A0000;
		/*font-weight: bold*/ }
a.header-link:hover {
	color: #FFFFFF ;}

.main-title{
	color:#dedede;
	font-size:30px;
	padding:10px 0px 10px 0px;
	margin: 0px;
	display: table-cell;
}

.content-header-left, .content-header-right, .content-header-center {
	margin: 5px 0px 0px 0px;}

.content-header-left {
	float: left;
	color: #000000
}

.content-header-right {
	float: right;
	color: #828282; }

.content-header-center {
	text-align:center;
	color: #000000 }

.wrapper {
		display: table;
		width: 100%;
		min-height: 100%
}

.left-col {
		display: table-cell;
		width: 220px;
		height: 100%;
		vertical-align: top;
		background-color: #212121;
		overflow-y: scroll;
		/*background-image: url("/caving/caver_divider1.png");
		background-repeat: no-repeat;
		background-attachment: scroll;
		background-size: 100px 770px;
		background-position: right top;*/

}

.right-col {
		display: table-cell;
		height: 100%;
		width: 220px;
		vertical-align: top;
		/*background-image: url("/caving/caver_divider2.png");
		background-repeat: no-repeat;
		background-attachment: scroll;
		background-size: 80px 560px;
		background-position: left top;
		padding-bottom: 500px;
		margin-bottom: -500px;*/
}

.center-col {
		display: table-cell;
		vertical-align: top;
}

.container {
	width: 800px;
	margin-left: auto;
	margin-right: auto;
}

.sidebar {
	min-height: 100%;
	float: left;
	width: 100%;
	padding-top: 20px;
}

.sidebar-content-box {
	font-family: Roboto-Medium, Helvetica, Arial, sans-serif;
	font-size: 1rem;
}

.sidebar-item {
	padding: 15px 0px 15px 20px;
}

.content-box, .main-content-box {
	margin-bottom: 30px;
	overflow: hidden;
	border: 1px solid transparent;
	border-radius: 5px;
	padding: 5px 5px 5px 5px;
	min-height: -30px; }

.content{
	padding: 0px 20px 0px 20px
}

.content-box {
	background-color: #dedede;
}

.main-content-box {
	margin-top:20px;
}

  /*Screen size stuff*/
  /* Below 1500px left hand bg image, dissapears and left-col width is reduced, right col
     reduced symmetrically */
@media screen and (max-width: 1500px) {
.container {
    width: 1230;}
.left-col {
    background-image: none;
    width: 185px;
    height: 1px;}
.right-col {
    width: 185px;}
}

/* Below 1230px right column is completely removed */

@media screen and (max-width: 1230px) {
.right-col {
    display: none;}
.container {
    width: 1000px;}
.centre-col {
    max-width: 755px;}
}

/*below 1000px left column (and therefore sidebar) is completely
  removed and replaced by a button to activate the menu
  */
/*
@media screen and (max-width: 1000px) {
.left-col {
    width: 0px;}
.container {
   width: auto;}
.centre-col {
    margin-right: auto;
    margin-left: auto;
    float: none;
    width: auto;
    max-width: none;}
.menu-button {
    width: 50px;
    height: 50px;
    display: inline; }
   .sidebar {
    display: none;}
.content-header-left, .content-header-right {
    float: none; }
pre {
    font-size: 16px;}
.menu-visible {
     width: 100%;
     margin-left: 0px;
     margin-right: 0px;
     text-align: center;
     max-width: none;}
.menu-visible .content-box {
    display: inline-table;
    width: 185px;
    min-height: 210px;}
}*/

/*below 1000px some settings changed to allow for quirks of mobile devices
  */
@media screen and (max-width: 1000px) {
.content-header-left, .content-header-right {
    float: none; }
}
