{% extends "base.html" %}
{% block banner %}
Migovec Cave Exploration <span class="mobile"><br></span><span class="banner-date">1994-2017</span>
{% endblock banner %}

{% block content %}
<div class="article-content">
  <h1 class="article-title">Migovec Cave Exploration <span class="banner-date">1994-2017</span></h1>
  {% if articles %}
    {% for article in articles %}
      {% if articles_previous_page == None %}
        {% if article.type == 'stickyindex' %}
          {{ article.content }}
        {% endif %}
      {% endif %}
    {% endfor %}
  {% endif %}
  
  {% include 'includes/license.html' %}
</div>
{% endblock %}
