/* IC caving web site overide style sheet for slov pages
   the rest of the css is in /themes/ICTheme/static/css/
*/
/*Colour Variables:*/
$link-hover: #3BDE59; /*Link hover*/
$highlight: #4EC5B1; /*Light Red (Highlighting,)*/
$links: #40B080;
$visited-links: #3D8E80; /*Darker Red (Visited Links)*/
$dark-background: #2D2D2D; /*Dark grey (Background Colour for Banner/Sidebar/Headers H1)*/
$header2: #40B080; /* (H2)*/
$light-background: #40B080; /*(Highlight colour for Banner/Sidebar/Headers H3/text)*/
$offwhite: #E8E8E8;

/*Global Text and link properties */

h1 {
	//color:	$dark-background;
	}

h2 {
	color: $header2;
	}

h3 {
	color: $light-background;
	}
h4 {
	color: $light-background;
}
h5 {
	color: $light-background;
}


a {
	color: $links;
}

a:visited {
	color: $visited-links
}

a:hover {
	color: $link-hover
}

.banner-date {
	color: $light-background;
}

.logo img {
    width: 160px;
    vertical-align: middle;
}

.sidebar-item a, .sidebar-sub-item a, .sidebar-sub-sub-item a, {
	background-image: linear-gradient(to right, rgba(0,0,0,0) 50%, #4AB959 50%);
	color: $offwhite
}

.content-right {
	background-color: $light-background;
}

a.footer-button {
	color: $highlight;
}

a.footer-button:visited {
	color: $visited-links
}

a.footer-button:hover {
	color: $link-hover
}

.photo-button {
	color: $highlight;
}

 tbody > tr:nth-child(even) {
   background-color:#ffffff
 }
 tbody > tr:nth-child(odd) {
   background-color:#f5f5f5
 }
 thead > tr {
   border-bottom: 1px solid rgba(0, 0, 0, 0.12);
   background-color: #ffffff;
 }
 tbody > tr:hover, tbody > tr:hover a {
   background-color: #B1474F !important;
   color: white;
 }
