<div class="sidebar">
  <div class="logo">
    <span style="height: 100%; vertical-align: middle; display: inline-block;"></span><!--Helper span to vertically center image-->
    <img alt="Imperial College Caving Club logo" src="{{ SITEURL }}/assets/sidebariclogo.png">
  </div>
  <div style="overflow-y: auto; overflow-x: hidden; height: 100%; display: flex; flex-flow: column nowrap;">

  <hr class="hrsidebartop">

  <div class="sidebar-content-box">
    <div class="sidebar-item"><a href="{{ SITEURL }}/">Home</a></div>
    <div class="sidebar-item"><a href="{{ SITEURL }}/pages/calendar.html">Calendar</a></div>
    <div class="sidebar-item"><a href="{{ SITEURL }}/pages/clubinfo.html">Club Info</a></div>
    <div class="sidebar-item"><a href="{{ SITEURL }}/pages/contacts.html">Contacts</a></div>
  </div>

  <hr class="hrsidebar">

  <div class="sidebar-content-box">

    <div class="sidebar-item" data-idouter="trips-outer" data-idinner="trips-inner"><a href="#" onclick="return false;">Trips</a></div>
    <div class="sidebar-outer collapsed" id="trips-outer">
      <div class="sidebar-inner" id="trips-inner">
        {% set year = '' %} {% for item in yearlist %} {% if item.acyear != year %} {% if year != '' %}
      </div>
    </div>
    {% endif %} {% set year = item.acyear %}
    <div class="sidebar-sub-item" data-idouter="trips-sub-outer-{{ item.acyear }}" data-idinner="trips-sub-inner-{{ item.acyear }}" data-upidouter="trips-outer" data-upidinner="trips-inner"><a href="#" onclick="return false;">{{ item.acyear }}</a></div>
    <div class="sidebar-outer collapsed" id="trips-sub-outer-{{ item.acyear }}" style="overflow: hidden;">
      <div class="sidebar-inner" id="trips-sub-inner-{{ item.acyear }}">
        <div class="sidebar-sub-sub-item"><a href="{{ SITEURL }}/{{ item.article.url }}">{{ item.article.title }} ({{ item.article.date.strftime('%b') }} '{{ item.article.date.strftime('%y') }})</a></div>
        {% else %}
        <div class="sidebar-sub-sub-item"><a href="{{ SITEURL }}/{{ item.article.url }}">{{ item.article.title }} ({{ item.article.date.strftime('%b') }} '{{ item.article.date.strftime('%y') }})</a></div>
        {% endif %} {% endfor %} {% if yearlist|count > 0 %}
      </div>
    </div>
    {% endif %}
  </div>
</div>

<div class="sidebar-content-box">
  <div class="sidebar-item" data-idouter="tours-outer" data-idinner="tours-inner"><a href="#" onclick="return false;">Tours</a></div>
  <div class="sidebar-outer collapsed" id="tours-outer">
    <div class="sidebar-inner" id="tours-inner">
      {% for article in articles %} {% if article.type == 'tour' %}
      <div class="sidebar-sub-sub-item"><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }} {{ article.date.strftime('%Y') }}</a></div>
      {% endif %} {% endfor %}
    </div>
  </div>
</div>

<div class="sidebar-item" data-idouter="exped-outer" data-idinner="exped-inner"><a href="#" onclick="return false;">Expeditions</a></div>
<div class="sidebar-outer collapsed" id="exped-outer">
  <div class="sidebar-inner" id="exped-inner">
    <div class="sidebar-sub-sub-item"><a href="{{ SITEURL }}/newzealand/">New Zealand 2015</a></div>
  </div>
</div>


<div class="sidebar-item"><a href="{{ SITEURL }}/photo_archive/">Photos</a></div>
</div>

<hr class="hrsidebar">

<div class="sidebar-content-box">
  <div class="sidebar-item"><a href="{{ SITEURL }}/caves/">Caves</a></div>
  <div class="sidebar-item"><a href="{{ SITEURL }}/cavers/">Cavers</a></div>
  <div class="sidebar-item"><a href="{{ SITEURL }}/pages/library.html">Library</a></div>
</div>

<div id="sidebar-fill" class="sidebar-content-box">
</div>

<div class="sidebar-content-box">
  <div class="sidebar-item"><a href="http://www.google.com/recaptcha/mailhide/d?k=01pKgPf4L76j23E4ymTAu8fw==&c=CoX_UvK7tWMqLjrzhcaEXTCP8fRKKSw-Cl1eAzdIcj4=">Email Us</a></div>
</div>
</div>
<script>
  $(window).load(function() {
    var sbsection_search = "sbsection=";
    var sbsubsection_search = "sbsubsection=";
    var sbsection;
    var sbsubsection;
    var ca = document.cookie.split(';');
    for(var i=0; i<ca.length; i++) {
        var c = ca[i];
        while (c.charAt(0)==' ') c = c.substring(1);
        if (c.indexOf(sbsection_search) != -1) sbsection = c.substring(sbsection_search.length,c.length);
        if (c.indexOf(sbsubsection_search) != -1) sbsubsection = c.substring(sbsubsection_search.length,c.length);
    }
    if (sbsection != null) {
      var outerelement = $('#' + sbsection + '-outer');
      outerelement.css({
        'max-height': ''
      });
      outerelement.removeClass("collapsed");
    }

    if (sbsubsection != null) {
      var outerelement = $('#' + sbsection + '-sub-outer-' + sbsubsection);
      outerelement.css({
        'max-height': ''
      });
      outerelement.removeClass("collapsed");
    }
    //document.cookie = 'sbsection=' + ';Path=/rcc/caving/;expires=Thu, 01 Jan 1970 00:00:01 GMT;';
    //document.cookie = 'sbsubsection=' + ';Path=/rcc/caving/;expires=Thu, 01 Jan 1970 00:00:01 GMT;';
  });

  $(function() {
    $('div.sidebar-item, div.sidebar-sub-item').click(function() {
      //Check if in sub-menu. If so then set max-height of outer menu to default so it expands nicely with the sub menu transition.
      if ($(this).data("upidouter") != null && $(this).data("upidinner")) {
        var outer = $(this).data("upidouter");
        var inner = $(this).data("upidinner");
        var outerelement = $('#' + outer);
        var innerelement = $('#' + inner);
        if (!outerelement.hasClass('collapsed')) {
          //var newheight = parseInt(outerelement.css('max-height'), 10) + height;
          outerelement.css({
            'max-height': ''
          });
        }
      }

      var outer = $(this).data("idouter");
      var inner = $(this).data("idinner");
      var outerelement = $('#' + outer);
      var innerelement = $('#' + inner);
      //$(outerelement).bind("transitionend webkitTransitionEnd oTransitionEnd MSTransitionEnd", function(){  if (!$(this).hasClass('collapsed')){ $(this).css({ 'max-height': $(innerelement).outerHeight() + 'px' }); } });

      //Ensure that outer element knows the inner height
      //Needed to undo the sub-menus attribute removal from above
      var height = innerelement.outerHeight();
      outerelement.css({
        'max-height': (parseInt(height)).toString() + 'px'
      });
      //If collapsing, set max-height to 0. Delay to allow transition to work because we only just set the max-height
      if (!outerelement.hasClass('collapsed')) {
        setTimeout(function() {
          outerelement.css({
            'max-height': '0px'
          });
        }, 50);
      }
      outerelement.toggleClass('collapsed');

      //Collapse all sub menus when a menu is collapsed
      //Delay ensures outer transition looks nice
      if (outerelement.hasClass('collapsed')) {
        setTimeout(function() {
          $(outerelement).find(".sidebar-outer").addClass('collapsed').css({
            'max-height': '0px'
          });
        }, 400);
      }

      /*Script to remember sidebar submenu state and reopen things when you move
      to a trip report*/
      /*check if in a submenu*/
      if ($(this).data("upidouter") != null && $(this).data("upidinner")) {
        /*if yes get the id of the drawer wrappers, find them, also extract the section
        and sub section from them*/
        var upouter = $(this).data("upidouter");
        var sbsection = upouter.replace("-outer", "");
        var outer = $(this).data("idouter");
        var sbsubsection = outer.replace(sbsection + "-sub-outer-", "");
        var upouterelement = $('#' + upouter);
        var outerelement = $('#' + outer);

        /*If you're openeing a section/subsecton record it with a cookie
        if closing, delete that cookie*/
        if (!upouterelement.hasClass('collapsed')) {
          document.cookie = 'sbsection=' + sbsection  + ';Path=/rcc/caving/;';
        }
        else {
          document.cookie = 'sbsection=' + sbsection  + ';Path=/rcc/caving/;expires=Thu, 01 Jan 1970 00:00:01 GMT;';
        }
        if (!outerelement.hasClass('collapsed')) {
          document.cookie = 'sbsubsection=' + sbsubsection  + ';Path=/rcc/caving/;';
        }
        else {
          document.cookie = 'sbsubsection=' + sbsubsection  + ';Path=/rcc/caving/;expires=Thu, 01 Jan 1970 00:00:01 GMT;';
        }
      }
      else {
        /*Same as above but if there's no subsection*/
        var outer = $(this).data("idouter");
        var sbsection = outer.replace("-outer", "");
        var outerelement = $('#' + outer);
        if (!outerelement.hasClass('collapsed')) {
          document.cookie = 'sbsection=' + sbsection  + ';Path=/rcc/caving/;';
        }
        else {
          document.cookie = 'sbsection=' + sbsection  + ';Path=/rcc/caving/;expires=Thu, 01 Jan 1970 00:00:01 GMT;';;
        }
      }

      //The scrollbar appearing can cause some elements to flow onto another line. This increses the size of the inner
      //and can oveflow out of the outer. This ensures that at the end of a menu openeing, overflowing elements
      //are adjusted.
      var outer = $(this).data("idouter");
      var outerelement = $('#' + outer);
      outerelement.one('webkitTransitionEnd otransitionend oTransitionEnd msTransitionEnd transitionend', function(e) {
        $(".sidebar-outer").each(function() {
          if ($(this).prop('scrollHeight') > $(this).height() && !($(this).hasClass("collapsed"))) {
            height  = $(this).children(".sidebar-inner").outerHeight()
            $(this).css({'max-height':height});
          }
        });
      });
    });
  });
</script>
</div>
