<!DOCTYPE html>
<html lang="{% block html_lang %}{{ DEFAULT_LANG }}{% endblock %}">

<head>
  <title>{% block title %}{{ SITENAME }}{% endblock %}</title>
  <!--<meta charset="utf-8">-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> {% if FAVICON %}
  <link href="{{ SITEURL }}/{{ FAVICON }}" rel="icon"> {% endif %} {% block meta %}
  <meta name="author" content="{{ AUTHOR }}" /> {% endblock %}

  <meta name="theme-color" content="#2D2D2D"><!-- Chrome, Firefox OS and Opera -->
  <meta name="msapplication-navbutton-color" content="#2D2D2D"><!-- Windows Phone -->
  <meta name="apple-mobile-web-app-status-bar-style" content="#2D2D2D">  <!-- iOS Safari -->

  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet" type="text/css" />
  <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="{{ SITEURL }}/theme/css/main.css" type="text/css" />
  <script src="{{ SITEURL }}/theme/js/header.js" async></script>
  <script src="{{ SITEURL }}/theme/js/sidebar.js" async></script>
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-80065-2', 'auto');
  ga('send', 'pageview');
  </script>

  {% block head %} {% endblock %}

</head>

<body>
  <img class="stal-img-left"src="{{ ASSET_LOCATION }}/leftstal.svg">
    <img class="stal-img-right" src="{{ ASSET_LOCATION }}/rightstal.svg">
  <div class="banner">
    <div class="menu-icon">&#x2630;</div>
    <div class="banner-title">
      {% block banner %}{% endblock %}
    </div>
    <div class="banner-title-logo"><img alt="Imperial College Caving Club logo" src="{{ ASSET_LOCATION }}/sidebariclogo.png"></div>
  </div>


  <div style="clear: both;"></div>

  <div class="left-col">
    {% include 'includes/sidebar.html' %}
  </div>

  <div class="sidebar-closer mobile"></div>

  <div class="center-col">
    {% block content %} {% endblock %}
  </div>

  <!--<div class="right-col">
  </div>-->

  <div style="clear: both;"></div>

  </div>

</body>

</html>
