{% extends "base.html" %}
{% block head %}
<script src="{{ SITEURL }}/theme/js/sorttable.js"></script>
<script>
  // Script that does a very simple search of the table based on the value in
  // the input box
  function search() {
    $('.cave').each(function() {
      if (!($(this).text().toLowerCase().indexOf($('#search').val().toLowerCase()) >= 0)) {
        $(this).css('display', 'none');
      } else {
        $(this).removeAttr('style');
      }
    });
  }
  $(function() {
    $('#search').on('input propertychange paste', function() {
      search();
    });
  });
  $(function() {
    $('.searchme').click(function() {
        console.log($('#search').value)
        $('#search').val($(this).text());
        search();
      return false;
    });
  });

</script>
{% endblock %}
{% block banner %}Caves{% endblock banner %}
{% block content %}
<div class="container">
  <div class="article-content">
      <h3>Caves we've been to and the reports:</h3>
      <input type="text" id="search">
      <div class="table-container">
      <table class="sortable">
        <tr>
          <th>Cave</th>
          <th>No. of Reports</th>
          <th>Most Recent</th>
          <th>Region</th>
          <th>System</th>
        </tr>
        {% for name, number, recent, meta in caves %}
        <tr class="cave" id="{{ item }}">
          <td><a href="{{ SITEURL }}/caves/{{ name }}.html">{{ name }}</a></td>
          <td class="count">{{ number }}</td>
          <td>{{ recent.strftime('%d-%m-%Y') }}</td>
          <td>{% if meta.region is defined %}<a class="searchme" href="#">{{ meta.region }}</a>{% endif %}</td>
          <td>{% if meta.system is defined %}<a class="searchme" href="#">{{ meta.system }}</a>{% endif %}</td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </div>
</div>
{% endblock %}
