{% extends "base.html" %}
{% block head %}
<script src="{{ SITEURL }}/theme/js/sorttable.js"></script>
<script>
  //Script that gets url parameters
  var getUrlParameter = function getUrlParameter(sParam) {
      var sPageURL = decodeURIComponent(window.location.search.substring(1)),
          sURLVariables = sPageURL.split('&'),
          sParameterName,
          i;

      for (i = 0; i < sURLVariables.length; i++) {
          sParameterName = sURLVariables[i].split('=');

          if (sParameterName[0] === sParam) {
              return sParameterName[1] === undefined ? true : sParameterName[1];
          }
      }
  };
  // Script that does a very simple search of the table based on the value in
  // the input box
  function search() {
    $('.cave').each(function() {
      if (!($(this).text().toLowerCase().indexOf($('#search').val().toLowerCase()) >= 0)) {
        $(this).css('display', 'none');
      } else {
        $(this).removeAttr('style');
      }
    });
  }
  $(function() {
    $('#search').on('input propertychange paste', function() {
      search();
    });
  });
  $(function() {
    $('.searchme').click(function() {
        $('#search').val($(this).text());
        search();
      return false;
    });
  });
  $(window).load(function() {
    $('#search').val(getUrlParameter('search'));
    search();
  });
</script>
{% endblock %}
{% block banner %}Caves{% endblock banner %}
{% block content %}
<div class="container">
  <div class="article-content">
      <h2>Caves we've been to and the reports:</h2>
      <h5>Search: <input type="text" id="search" placeholder="for something..." autocomplete="off"></h5>
      <div class="table-container">
      <table class="sortable cavetable">
        <tr>
          <th>Cave</th>
          <th>No. of Reports</th>
          <th>Most Recent</th>
          <th>System</th>
          <th>Subregion</th>
          <th>Region</th>
          <th>Country</th>
        </tr>
        {% for name, number, recent, meta in caves %}
        <tr class="cave" id="{{ item }}">
          <td><a href="{{ SITEURL }}/caves/{{ name }}.html">{{ name }}</a></td>
          <td class="count">{{ number }}</td>
          <td style="min-width: 6em;">{{ recent.strftime('%d-%m-%Y') }}</td>
          <td>{% if meta.system is defined %}<a class="searchme" href="#">{{ meta.system }}</a>{% endif %}</td>
          <td>{% if meta.region is defined %}<a class="searchme" href="#">{{ meta.subregion }}</a>{% endif %}</td>
          <td>{% if meta.region is defined %}<a class="searchme" href="#">{{ meta.region }}</a>{% endif %}</td>
          <td>{% if meta.region is defined %}<a class="searchme" href="#">{{ meta.country }}</a>{% endif %}</td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </div>
</div>
{% endblock %}
