{% extends "base.html" %} {% block head %}
<script src="{{ SITEURL }}/theme/js/sorttable.js"></script>
{% endblock %} {% block banner %}{{ cavename }}{% endblock banner %} {% block content %}
<div class="container">
  <div class="article-content">
      <h1>{{ cavename }}</h1>
      <h2>Information</h2>
      <p>
      {% if meta.country is defined %}
      <span class="highlight">Country:</span> <a href=".?search={{ meta.country }}">{{ meta.country }}</a><br></br>
      {% endif %}
      {% if meta.region is defined %}
      <span class="highlight">Region:</span> <a href=".?search={{ meta.region }}">{{ meta.region }}</a><br></br>
      {% endif %}
      {% if meta.subregion is defined %}
      <span class="highlight">Subregion:</span> <a href=".?search={{ meta.subregion }}">{{ meta.subregion }}</a><br></br>
      {% endif %}
      {% if meta.system is defined %}
      <span class="highlight">System:</span> <a href=".?search={{ meta.system }}">{{ meta.system }}</a><br></br>
      {% endif %}
      </p>

      {{bio}}

      <h2>Reports</h2>
      <table class="sortable widetable">
        <tr>
          <th>Report</th>
          <th>Date</th>
        </tr>
        {% for article, date in articles %}
        <tr>
          <td><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a>
          </td>
          <td>{{ date.strftime('%d-%m-%Y') }}</td>
        </tr>
        {% endfor %}
      </table>

  </div>
</div>

{% if data is defined %}
<script style="display: none;" id="metadata" type="application/json">
  {
  {% for key in data %}
  {% if loop.index > 1 %},{% endif %}
  """{{ key }}""":"""{{ data[key] }}"""
  {% endfor %}
  }
</script>
{% endif %}

{% endblock %}
