{% extends "base.html" %}
{% block head %}
<script src="{{ SITEURL }}/theme/js/sorttable.js"></script>
<script>
  $(function() {
    $('#search').on('input propertychange paste', function() {
      $('.caver').each(function() {
        if (!($(this).text().toLowerCase().indexOf($('#search').val().toLowerCase()) >= 0)) {
          $(this).css('display', 'none');
        } else {
          $(this).removeAttr('style');
        }
      });
    });
  });
</script>
{% endblock %}
{% block banner %}Cavers{% endblock banner %}
{% block content %}
<div class="container">
  <div class="article-content">
      <h3>People and the trips they've been on:</h3>
      <input type="text" id="search">
      <div class="table-container">
      <table class="sortable">
        <tr>
          <th>Caver</th>
          <th>No. of Reports</th>
          <th>Most Recent</th>
        </tr>
        {% for person, number, recentdate, meta in people %}
        <tr class="caver" id="{{ person }}">
          <td><a href="{{ SITEURL }}/cavers/{{ person }}.html">{{ person }}</a>
          </td>
          <td class="count">{{ number }}</td>
          <td>{{ recentdate.strftime('%d-%m-%Y') }}</td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </div>
</div>
{% endblock %}
