{% extends "base.html" %}
{% block head %}
<script src="{{ SITEURL }}/theme/js/sorttable.js"></script>
<script src="{{ SITEURL }}/theme/js/Chart.min.js"></script>
{% endblock %}
{% block banner %}{{ personname }}{% endblock banner %}
{% block content %}
<div class="container">
  <div class="article-content">

      {{ bio }}

      <h3>Trips attended</h3>

      <p>
      <a id="showButton" onClick="$('#activityChart').toggleClass('nodisplay'); $('#chartContainer').toggleClass('nodisplay'); $('#showButton').toggleClass('nodisplay'); $('#hideButton').toggleClass('nodisplay'); return false;">Show Chart</a>
      <a id="hideButton" class="nodisplay" onClick="$('#activityChart').toggleClass('nodisplay'); $('#chartContainer').toggleClass('nodisplay'); $('#showButton').toggleClass('nodisplay'); $('#hideButton').toggleClass('nodisplay'); return false;">Hide Chart</a>
      </p>
      <div id="chartContainer" class="nodisplay nomargin table-container" style="width: 100%; height: 400px;">
        <canvas id="activityChart" class="nodisplay"></canvas>
      </div>

      <table class="sortable widetable">
        <tr>
          <th>Report</th>
          <th>Cave</th>
          <th>Date</th>
        </tr>
        {% for cave, article, date in articles %}
        {% set cavelist = cave.split('>')[1:] %}
        {% set cave = cave.split('>')[0] %}
        <tr>
          <td><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a>
          </td>
          <td><a href="{{ SITEURL }}/caves/{{ cave|e|trim }}.html">{{ cave }}</a>{% for extracave in cavelist %} > <a href="{{ SITEURL }}/caves/{{ extracave|e|trim }}.html">{{ extracave }}</a>{% endfor %}</td>
          <td>{{ date.strftime('%d-%m-%Y') }}</td>
        </tr>
      {% endfor %}
      </table>

      {% if authoredarticles is defined and authoredarticles is not none %}
      <h3>Articles Written</h3>
      <table class="sortable widetable">
        <tr>
          <th>Report</th>
          <th>Date</th>
        </tr>
        {% for article in authoredarticles %}
          {% if article.unlisted is not defined %}
          <tr>
            <td><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></td>
            <td>{{ article.date.strftime('%d-%m-%Y') }}</td>
          </tr>
          {% endif %}
        {% endfor %}
      </table>
      {% endif %}

  </div>
</div>

<script>

$(function() {
  $('#showButton').click(function() {

    //$("#activityChart").removeClass('nodisplay');
    //$("#chartContainer").removeClass('nodisplay');

    var data = [];
    var labels = []
    var rawData = [];
    var splitDate;
    var reformDate;

    $(".article-content table:nth-of-type(1) tr td:nth-of-type(3)").each(function() {
       splitDate = $( this ).text().split("-")
       reformDate= splitDate[2] + "-" + splitDate[1] + "-" + splitDate[0];
      rawData.push(new Date(reformDate));
    });

    rawData = rawData.reverse();

    var firstDate = rawData[0];
    var currDate = rawData[0];
    var lastDate = new Date(rawData[rawData.length -1].setMonth(rawData[rawData.length - 1].getMonth() + 1));

    switch(currDate.getMonth()) {
      case 8:
      case 9:
      case 10:
      case 11:
        labels.push("Autumn " + currDate.getFullYear());
        break;
      case 0:
      case 1:
      case 2:
      case 3:
        labels.push("Spring " + currDate.getFullYear());
        break;
      case 4:
      case 5:
      case 6:
      case 7:
        labels.push("Summer " + currDate.getFullYear());
        break;
    }
    data.push(0);

    var i = 0;
    while (i < rawData.length) {
      var label;
      switch(currDate.getMonth()) {
        case 8:
        case 9:
        case 10:
        case 11:
          label = "Autumn " + currDate.getFullYear();
          break;
        case 0:
        case 1:
        case 2:
        case 3:
          label = "Spring " + currDate.getFullYear();
          break;
        case 4:
        case 5:
        case 6:
        case 7:
          label = "Summer " + currDate.getFullYear();
          break;
      }
      if (currDate.getMonth() == rawData[i].getMonth() && currDate.getFullYear() == rawData[i].getFullYear()) {
        if (labels[labels.length - 1] == label) {
          data[data.length - 1] = data[data.length - 1] + 1;
        }
        else {
          labels.push(label);
          data.push(1);
        }

        i++;
      }
      else {
      	currDate.setMonth(currDate.getMonth() + 1, 1);
        if (!(labels[labels.length - 1] == label)) {
          labels.push(label);
          data.push(0);
        }
      }
    }


    var chartData = {
      labels: labels,
      datasets: [
        {
          label: "Caving Activity",
          backgroundColor: "#AB4444",
          borderWidth: -2,
          hoverBackgroundColor: "#D46A6A",
          data: data
        }
      ]
    }
    var options = {
    			fontFamily: "Roboto, Tahoma, Arial, sans-serif",
          responsive: true,
          maintainAspectRatio: false,
          scales: {
        		xAxes: [{
            	categoryPercentage: 1,
          		barPercentage: 1,
        	}],
          }
    }

    var ctx = $("#activityChart");
    var myBarChart = new Chart(ctx,{
      type: 'bar',
      data: chartData,
      options: options
    });
  });
});
</script>
{% endblock %}
