{% extends "base.html" %}
{% block head %}
<script src="{{ SITEURL }}/theme/js/sorttable.js"></script>
<script>
//Script that gets url parameters
var getUrlParameter = function getUrlParameter(sParam) {
    var sPageURL = decodeURIComponent(window.location.search.substring(1)),
        sURLVariables = sPageURL.split('&'),
        sParameterName,
        i;

    for (i = 0; i < sURLVariables.length; i++) {
        sParameterName = sURLVariables[i].split('=');

        if (sParameterName[0] === sParam) {
            return sParameterName[1] === undefined ? true : sParameterName[1];
        }
    }
};
// Script that does a very simple search of the table based on the value in
// the input box
function search() {
  $('.caver').each(function() {
    if (!($(this).text().toLowerCase().indexOf($('#search').val().toLowerCase()) >= 0)) {
      $(this).css('display', 'none');
    } else {
      $(this).removeAttr('style');
    }
  });
}
$(function() {
  $('#search').on('input propertychange paste', function() {
    search();
  });
});
$(function() {
  $('.searchme').click(function() {
      $('#search').val($(this).text());
      search();
    return false;
  });
});
$(window).load(function() {
  $('#search').val(getUrlParameter('search'));
  search();
});
</script>
{% endblock %}
{% block banner %}Cavers{% endblock banner %}
{% block content %}
<div class="container">
  <div class="article-content">
      <h2>People and the trips they've been on:</h2>
      <h5>Search: <input type="text" id="search" placeholder="for something..." autocomplete="off"></h5>
      <div class="table-container">
      <table class="sortable cavertable">
        <tr>
          <th>Caver</th>
          <th>No. of Reports</th>
          <th>Most Recent</th>
        </tr>
        {% for person, number, recentdate, meta in people %}
        <tr class="caver" id="{{ person }}">
          <td><a href="{{ SITEURL }}/cavers/{{ person }}.html">{{ person }}</a>
          </td>
          <td class="count">{{ number }}</td>
          <td>{{ recentdate.strftime('%d-%m-%Y') }}</td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </div>
</div>
{% endblock %}
