{% extends "base.html" %} {% block head %}
<script src="{{ SITEURL }}/theme/js/sorttable.js"></script>
{% endblock %} {% block banner %}{{ personname }}{% endblock banner %} {% block content %}
<div class="container">
  <div class="article-content">

      {{ bio }}

      <h3>Trips attended</h3>
      <table class="sortable widetable">
        <tr>
          <th>Report</th>
          <th>Cave</th>
          <th>Date</th>
        </tr>
        {% for cave, article, date in articles %}
        <tr>
          <td><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a>
            <br>
          </td>
          <td>{{ cave }}</td>
          <td>{{ date.strftime('%d-%m-%Y') }}</td>
        </tr>
        {% endfor %}
      </table>

      {% if authoredarticles is defined and authoredarticles is not none %}
      <h3>Articles Written</h3>
      <table class="sortable widetable">
        <tr>
          <th>Report</th>
          <th>Date</th>
        </tr>
        {% for article in authoredarticles %}
        <tr>
          <td><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a>
            <br>
          </td>
          <td>{{ article.date.strftime('%d-%m-%Y') }}</td>
        </tr>
        {% endfor %}
      </table>
      {% endif %}

  </div>
</div>
{% endblock %}
