{% extends "base.html" %}
{% block title %}Tags - {{ SITENAME }}{% endblock %}
{% block head %}<BASE href="{{ SITEURL }}/tags.html">{% endblock %}

{% block banner %}Tags{% endblock banner %}


{% block content %}

<div class="article-content">
  
  <h1 class="article-title">Tags</h1>
  
  {% for tag, articles in tags|sort %}
    <h5>{{ tag|capitalize }}</h5>
    <ul>
    {% for article in articles %}
      <li><a href="{{ article.url }}">{{ article.title }} - {{ article.date.strftime('%d-%m-%Y') }}</a></li>
    {% endfor %}
    </ul>
  {% endfor %}
    
  {% include 'includes/license.html' %}
</div>
{% endblock %}
