/* IC caving web site style sheet for main pages
*/
/*-----------------------------Colour and styling Variables-----------------------------*/
/* Colours */
$link-hover: #D46A6A;
/*Link hover*/
$highlight: #AA3939;
/*Light Red (Highlighting,)*/
$links: #A6373F;
$visited-links: #801515;
/*Darker Red (Visited Links)*/
$dark-background: #2D2D2D;
/*Dark grey (Background Colour for Banner/Sidebar/Headers H1)*/
$header: #AB3C3C;
/* (H2)*/
$light-background: #AB4444;
/*(Highlight colour for Banner/Sidebar/Headers H3/text)*/
$body-background: #CACACA;
/*(Body Background)*/
$offwhite: #E8E8E8;
/*Off White (Backgrounds/ Large Text on dark backgrounds)*/
$transwhite: rgba(255, 255, 255, 0.83);
/*Index item backgrounds*/
$white: rgb(255, 255, 255);
/*Article backgrounds*/
$text: #000000;
/*Normal text colour*/
/* Images */
$back-image: "../../assets/bg.jpg";
$right-image: "../../assets/jack.png";
/* Indents */
$header-indent: 25px;
$content-indent: 50px;
/* Widths */
$content-width: 800px;
/* Fonts */
$sans: Roboto, Tahoma, Arial, sans-serif;
$serif: "Roboto Slab", "Times New Roman", Times, serif;
$h1weight: 700;
$h2weight: 500;
$h3weight: 400;
$h4weight: 400;
$h5weight: 400;
$textweight: 300;
/*-----------------------------Global Page Properties-----------------------------*/
html {}
body {
	background-color: $body-background;
	color: $text;
	font-family: $sans;
	font-weight: $textweight;
	font-size: 100%;
	margin: 0;
	overflow-x: hidden;
}
/*-----------------------------Global Text and link properties-----------------------------*/
ol,
p,
ul {
	line-height:  1.9rem;
}
h1 {
	font-family: $sans;
	font-weight: $h1weight;
	font-size: 2rem;
	background-color: $dark-background;
	margin: 1rem 0;
	color: $offwhite;
	padding: 5px;
	border-radius: 5px;
	text-align: center;
}
h2 {
	font-family: $sans;
	font-size: 1.5rem;
	font-weight: $h2weight;
	color: $header;
	margin: 1rem 0;
}
h3 {
	font-family: $sans;
	font-size: 1.125rem;
	font-weight: $h3weight;
	color: $light-background;
	margin: 1rem 0;
}
h4 {
	font-family: $sans;
	font-size: 1rem;
	font-weight: $h4weight;
	color: $light-background;
	margin: 1rem 0;
	text-align: right;
}
h5 {
	font-family: $sans;
	font-size: 1rem;
	font-weight: $h5weight;
	color: $light-background;
	margin: 1rem 0;
}
a {
	color: $links;
	text-decoration: underline;
}
a:visited {
	color: $visited-links;
}
a:hover {
	color: $link-hover;
}
pre {
	overflow: auto;
}
/*-----------------------------Useful Tags-----------------------------*/
.nodisplay {
	display: none !important;
}
.nopad {
	padding: 0 !important;
}
.nomargin {
	margin: 0 !important;
}
.center {
	text-align: center !important;
}
.highlight {
	font-weight: bold !important;
	color: $header !important;
}
.mobile {
	display: none;
}
/*-----------------------------Column Layout-----------------------------*/
.banner {
	display: none;
	height: 50px;
	background-color: $dark-background;
	overflow: hidden;
	width: 100%;
	position: fixed;
	border-bottom: 1px $offwhite solid;
	z-index: 2;
	text-align: center;
}
.banner-wrap {
	display: table-row;
}
.menu-icon {
	font-size: 3rem;
	color: white;
	display: none;
}
.banner-title {
	font-size: 2rem;
	font-family: $sans;
	font-weight: 900;
	color: $offwhite;
	display: table-cell;
	width: 100%;
	vertical-align: middle;
}
.banner-title-logo {
	display: none;
}
.banner-date {
	color: $light-background;
	display: inline-block;
}
.logo {
	text-align: center;
	display: block;
}
.logo img {
	width: 100px;
	vertical-align: middle;
	margin:10px;
}
.logo-text {
	color: $offwhite;
  font-weight: 700;
  margin-left: -10px;
	&:nth-of-type(1) {
		margin-top: 10px;
	}
	&:nth-of-type(2) {
		margin-bottom: 10px;
	}
}
.left-col {
	height: 100%;
	width: 180px;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	overflow-x: hidden;
	transition: 0.5s;
	background-color: $dark-background;
	z-index: 10;
}
.center-col {
	float: left;
	vertical-align: top;
	height: 100%;
	width: 100%;
}

.stal-img-left {
	@media screen and (max-width: 1250px) {
		display: none;
	}
}

.stal-img-right {
	@media screen and (max-width: 1500px) {
		display: none;
	}
}

/*-----------------------------Sidebar properties-----------------------------*/
.sidebar {
	float: left;
	width: 100%;
	height: 100%;
	display: flex;
	flex-flow: column nowrap;
	overflow-x: hidden;
	overflow-y: auto;
}
.sidebar-content-box {
	font-family: $sans;
	font-weight: 500;
	font-size: 0.8rem;
	flex: 0 0 auto;
}
#sidebar-fill {
	flex: 1 0 auto;
}
.sidebar-item a,
.sidebar-sub-item a,
.sidebar-sub-sub-item a {
	display: block;
	height: 100%;
	text-decoration: none;
	color: $offwhite;
	transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
	transition-delay: 0.2s;
	-moz-box-shadow: inset 0 0 0 #000000;
	-webkit-box-shadow: inset 0 0 0 #000000;
	box-shadow: inset 0 0 0 #000000;
}
.sidebar-item a:visited,
.sidebar-sub-item a:visited,
.sidebar-sub-sub-item a:visited {
	color: $offwhite;
}
.sidebar-item a:active,
.sidebar-sub-item a:active,
.sidebar-sub-sub-item:active {
	-moz-box-shadow: inset 0 0 10px #000000;
	-webkit-box-shadow: inset 0 0 10px #000000;
	box-shadow: inset 0 0 10px #000000;
	transition-delay: 0s;
}
.sidebar-item,
.sidebar-sub-item,
.sidebar-sub-sub-item {
	 &:hover,
	a:hover {
		text-decoration: none;
		background-color: #A6373F;
	}
}
.sidebar-sub-item a:hover {
	font-family: $sans;
	font-weight: 400;
}
.sidebar-item a {
	font-family: $sans;
	font-weight: 500;
	padding: 10px 0 10px 20px;
}
.sidebar-sub-item a {
	font-family: $sans;
	font-weight: 400;
	padding: 10px 0 10px 35px;
}
.sidebar-sub-sub-item a {
	font-family: $sans;
	font-weight: 100;
	padding: 10px 0 10px 35px;
}
.sidebar-item.no-link a:hover,
.sidebar-item.no-link:hover {
	text-decoration: none;
	background-color: transparent;
}
.sidebar-item.no-link a {
	transition: none;
	box-shadow: none;
}
.collapsed {
	max-height: 0;
}
.sidebar-outer {
	-webkit-transition: max-height 0.5s ease;
	-moz-transition: max-height 0.5s ease;
	-o-transition: max-height 0.5s ease;
	transition: max-height 0.5s ease;
	overflow: hidden;
}
.sidebar-closer {}
/*-----------------------------Index Content properties-----------------------------*/
.index-container {
	width: $content-width;
	margin: 10px calc((100vw - 180px - #{$content-width} )/2) 0 calc((100vw + 165px - #{$content-width} )/2); //165 was just a value that worked
	@media screen and (min-width: 1500px) {
		margin-left: calc((100vw - #{$content-width} )/2);
		margin-right:  calc((100vw - #{$content-width} )/2);
	}
	@media screen and (max-width: 1100px) {
		width: calc(100% - 210px);
		margin: 10px 10px 0 190px;
	}
}
.content-box {
	margin: 0 0 20px;
	width: 100%;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
	background-color: $transwhite;
}
.content-header {
	display: table;
	width: 100%;
}
.content-left {
	height: 100%;
	display: table-cell;
	padding: 10px;
	background-color: $dark-background;
	color: $offwhite;
}
.content-left a {
	color: $offwhite;
	text-decoration: none;
	font-family: $sans;
	font-weight: 700;
}
.content-right {
	height: 100%;
	width: 100px;
	text-align: center;
	display: table-cell;
	padding: 10px;
	background-color: $light-background;
	color: $offwhite;
	font-family: $sans;
	font-weight: 500;
}
.content {
	display: table;
	width: 100%;
}
.content-summary {
	padding: 0 15px;
	vertical-align: top;
	display: table-cell;
	vertical-align: middle;
}
.content-summary p {
	margin: 15px 0;
}
.index-thumbl {
	max-width: 225px;
	padding: 10px 0 0 10px;
	display: table-cell;
	vertical-align: middle;
}
.index-thumbr {
	padding: 10px 10px 0 0;
	max-width: 225px;
	display: table-cell;
	vertical-align: middle;
}
.index-thumbl,
.index-thumbr {
	img {
		max-width: 225px;
	}
}
.content-footer {
	width: 100%;
	display: table;
}
.content-footer-center,
.content-footer-left,
.content-footer-right {
	width: 50%;
	display: table-cell;
	padding: 5px 5px 10px;
}
.content-footer-left {
	text-align: right;
}
.content-footer-center {
	text-align: center;
}
.content-footer-right {
	text-align: left;
}
a.footer-button {
	padding: 5px;
	font-family: $sans;
	font-weight: 500;
	color: $highlight;
	text-decoration: underline;
	&:visited {
		color: $visited-links;
	}
	&:hover {
		color: $link-hover;
	}
}
.paginator {
	text-align: center;
}
/*-----------------------------Article and Page Content Styling-----------------------------*/
.article-content {
	min-height: 100vh;
	background-color: #EFEFEF;
	overflow-x: visible;
	padding-top: 10px;
	width: $content-width;
	padding-left: calc((100vw + 165px - #{$content-width} )/2);
	padding-right: calc((100vw - 180px - #{$content-width} )/2); //165 was just a value that worked
	@media screen and (min-width: 1500px) {
		padding-left: calc((100vw - #{$content-width} )/2);
		padding-right:  calc((100vw - #{$content-width} )/2);
	}
	@media screen and (max-width: 1100px) {
		width: calc(100% - 210px);
		padding-left: 190px;
		padding-right: 10px;
	}
	& > *:last-child {
    margin-bottom: 0;
    padding-bottom: 20px;
	}
}
.padless {
	margin-left: 25px;
	margin-right: 25px;
}
.padmore {
	margin-left: 50px;
	margin-right: 50px;
}
.mainimg {
	text-align: center;
	max-height: 600px;
}
.mainimg img {
	max-width: 100%;
	max-height: 600px;
	border: 1px solid $body-background;
}
.article-img-center {
	text-align: center;
	margin-left: 0;
	margin-right: 0;
}
.article-img-left {
	float: left;
	width: $content-width / 2;
	text-align: center;
	margin-right: 20px;
	margin-left: 0;
}
.article-img-right {
	float: right;
	width: $content-width / 2;
	text-align: center;
	margin-left: 20px;
	margin-right: 0;
}
.article-img-center img {
	max-width: 100%;
	max-height: 600px;
	border: 1px solid $body-background;
}
.article-img-left img {
	max-width: 100%;
	max-height: 600px;
}
.article-img-right img {
	max-width: 100%;
	max-height: 600px;
}
figcaption {
	font-size: 0.9rem;
}
.photo-button {
	padding: 5px;
	color: $highlight;
	text-decoration: underline;
	font-size: 1.5rem;
	font-weight: bold;
}
.photo-button-wrapper {
	text-align: center;
}
.anchor {
	position: absolute;
}

blockquote {
	margin: 0 100px;
  padding: 10px;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.26);
  background-color: #f5f3c4;
}
.article-content {
	blockquote {
		address,
		dl,
		ol,
		p,
		pre,
		ul {
			margin-left: 0;
			margin-right: 0;
		}
		h1,
		h2,
		h3,
		h4,
		h5 {
			margin-left: 0;
			margin-right: 0;
		}
		input {}
	}
}
/*-----------------------------Table stylings-----------------------------*/
table.sortable td,
table.sortable th {
	min-width: 4em;
	text-align: center;
}
table.sortable th:not(.sorttable_sorted):not(.sorttable_sorted_reverse):not(.sorttable_nosort):after {
	content: " \25B4\25BE";
}
/*For index on main page*/
/*Mostly just the calender/agenda*/
.content table {
	width: 100%;
}
/*For pretty much all other tables*/
.article-content table {
	border: 1px solid rgba(0, 0, 0, 0.12)
}
/*For the list of caves/cavers*/
/*Because they're the main event on their pages it looks*/
/*nicer this way*/
.widetable {
	margin: 0 !important;
  width: 100% !important;
}
/*This is so that tables that overflow the article container don't*/
/*cause the whole article to horizontally scroll, just the table*/
.table-container {
	overflow-x: auto;
	overflow-y: hidden;
}
table {
	border-collapse: collapse;
	font-family: $sans;
}
td,
th {
	padding: 0.5rem;
	font-weight: $textweight;
	text-align: left;
}
tbody {
	> tr:nth-child(even) {
		background-color: rgba(255,255,255,0.83);
	}
	> tr:nth-child(odd) {
		background-color: rgba(245,245,245,0.83);
	}
}
thead > tr {
	border-bottom: 1px solid rgba(0, 0, 0, 0.12);
	background-color: #ffffff;
}
/*-----------------------------Horizontal rule stylings-----------------------------*/
hr.hrstyle {
	border: 0;
	height: 1px;
	background: #333;
	background-image: -webkit-linear-gradient(left, #ccc, #333, #ccc);
	background-image: -moz-linear-gradient(left, #ccc, #333, #ccc);
	background-image: -ms-linear-gradient(left, #ccc, #333, #ccc);
	background-image: -o-linear-gradient(left, #ccc, #333, #ccc);
}
hr.hrsidebar {
	border-top: 1px solid $offwhite;
	//border-top: 1px solid $dark-background;
	border-bottom: 0 solid transparent;
	width: 100%;
	flex: 0 0 auto;
}
hr.hrsidebartop {
	border-top: 1px solid $offwhite;
	//border-top: 1px solid $dark-background;
	border-bottom: 0 solid transparent;
	margin-top: 0;
	width: 100%;
	flex: 0 0 auto;
}

hr.fancy {
	padding: 0;
	border: none;
	border-top: medium double #ab4444;
	color: #ab4444;
	text-align: center;
	height: 0px;
	width: 60%;
}
hr.fancy:after {
	content: "ยง";
	display: inline-block;
	position: relative;
	top: -0.7em;
	font-size: 1.5em;
	padding: 0 0.25em;
	background-color: #2d2d2d;
}
/*-----------------------------Photo page stuff-----------------------------*/
.currlink,
.nextlink,
.prevlink {
	font-family: Roboto, Tahoma, Arial, sans-serif;
	font-weight: 500;
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	width: 33%;
}
.currlink a,
.nextlink a,
.prevlink a {
	color: $offwhite;
}
.link-container {
	background-color: $dark-background;
	height: 40px;
	display: table;
	width: 100%;
}
.maindisplay {
	max-width: 780px;
	max-height: 600px;
}
.image-wrapper {
	height: 600px;
	width: 100%;
}
.image-cell {
	text-align: center;
}
.thumb_box {
	height: 150px;
	overflow-x: hidden;
	overflow-y: scroll;
	bottom: 5px;
}
.expand-thumb-box {
	height: 100%;
	overflow-y: hidden;
}
.thumb-toggle {
	width: 80px;
	padding: 2px;
	border-radius: 2px;
	background-color: $dark-background;
	color: $offwhite;
	margin: 2px auto;
	text-align: center;
	transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
	transition-delay: 0.2s;
	-moz-box-shadow: inset 0 0 0 #000000;
	-webkit-box-shadow: inset 0 0 0 #000000;
	box-shadow: inset 0 0 0 #000000;
}
.thumb-toggle:active {
	-moz-box-shadow: inset 0 0 10px #000000;
	-webkit-box-shadow: inset 0 0 10px #000000;
	box-shadow: inset 0 0 10px #000000;
	transition-delay: 0s;
}
.select-thumbnail {
	border: 5px solid #A6373F;
	max: 100px;
}
.thumbnail {
	border: 0 solid transparent;
	max: 100px;
}
/*-----------------------------Person page stuff-----------------------------*/
.personimg {
	text-align: center;
}
.personimg > a > img {
	max-height: 400px;
	max-width: 100%;
	margin: 25px 25px 0;
}

/*-------------------------------Wiki Stuff-----------------------------------*/
.wiki-link-level-0 {
	margin-left: 0px;
}
.wiki-link-level-1 {
	margin-left: 25px;
}
.wiki-link-level-2 {
	margin-left: 50px;
}
