/* IC caving web site style sheet for main pages
*/
/*
Colour Dictionary:
#D46A6A: Pink (Link hover)
#AA3939: Light Red (Highlighting, links)
#801515: Darker Red (Visited Links)

#143B46: Dark Turquoise (Background Colour for Banner/Sidebar/Headers H1)
#0D4D4D: Turquoise (H2)
#407F7F; Light Turquoise (Highlight colour for Banner/Sidebar/Headers H3/text)
#5DACC2: Light Blue (Body Background)

#E8E8E8: Off White (Backgrounds/ Large Text on dark backgrounds)
*/

/* Global Page Properties */

body {
	background-color: #5DACC2;
	color: #000000;
}

/*Global Text and link properties */

h1 {
		color:	#143B46;
		}

h2 {
		color: #0D4D4D;
		}

h3 {
		color: #407F7F;
		}
h4 {
		color: #407F7F;
}


a {
	color: #A6373F;
}

a:visited {
	color: #801515
}

a:hover {
	color: #D46A6A
}

.banner {
	background-color: #143B46;
}

.menu-icon {
	color: white;
}

.banner-title {
	color: #E8E8E8;
}

.banner-date {
	color: #407F7F;
	display: inline-block;
}

.left-col {
		background-color: #143B46;
}

.sidebar-item a, .sidebar-sub-item a, .sidebar-sub-sub-item a {
	color: #E8E8E8;
}

.sidebar-item a:hover, .sidebar-sub-item a:hover, .sidebar-sub-sub-item a:hover, .sidebar-item:hover, .sidebar-sub-item:hover, .sidebar-sub-sub-item:hover {
	background-color: #A6373F;
}

.sidebar-item.no-link a:hover, .sidebar-item.no-link:hover {
	background-color: transparent;
}

/* Index Content properties */

.content-box {
	background-color: rgba(232, 232, 232, 0.83);
}

.content-left {
	background-color: #143B46;
	color: #E8E8E8;
}

.content-left a {
	color: #E8E8E8;
}

.content-right {
	background-color: #407F7F;
	color: #E8E8E8;
}

a.footer-button {
	color: #AA3939;
}

a.footer-button:visited {
	color: #801515
}

a.footer-button:hover {
	color: #D46A6A
}

.article-content {
	background-color: rgba(232, 232, 232, 0.83);
}

.photo-button {
	color: #AA3939;
}

/*Horizontal rule stylings */
.currlink a, .prevlink a, .nextlink a {
	color: #E8E8E8;
}

.link-container {
	background-color: #143B46;
}

.thumb-toggle {
	background-color: #143B46;
	color: #E8E8E8;
	}

.select-thumbnail {
	border: 5px solid #A6373F;
}

  /*Screen size stuff*/
  /* Below 1500px right-col removed, centre col resized and given some padding against the left col */
@media screen and (max-width: 1500px) {
.container {
	padding-left: 5px;
}
.center-col {
    width: calc(100% - 220px);
}
.right-col {
    display: none;
}
}

/* Below 1100px*/
@media screen and (max-width: 1100px) {
		.container {
			width: calc(100% - 20px);
		}
		.maindisplay {
			max-width: 100%;
		}
		.image-wrapper {
			height: 100%;
			width: 100%;
		}
}
