/* IC caving web site style sheet for main pages
*/
body {
  background-size: 100%;
  background-position-y: initial;
  background-position-x: initial;

  margin: 0px;
  padding: 0px;

}

/* Global Text and link properties */

h1 { }

h2 { }

h3 { }

a { }

a:visited { }

/* Useful Tags */
.nodisplay { }

.mobile {
  display: inline-block;
}

/* Column Layout */

.banner {
  //position: static;
  margin: 0;
  width: 100vw;
  height: 75px;
  display: block;

  position: fixed;
  top: 0;
}

.banner-wrap {
  display: block;
}

.menu-icon {
  display: block;
}

.banner-title {
  font-size: 1.2rem;
  float: none;
  text-align: center;
  padding: 15px 80px 5px 80px;
  width: initial;

  display: block;
}

.banner-title-logo {
  position: absolute;
  font-size: 1rem;
  float: none;
  text-align: center;
  padding: 3px 10px 0 0;
  height: 70px;
  top: 0;
  right: 0;
  display: block;
}

.banner-title-logo > img {
  height: 70px;
}

.banner-date {
}

.logo {
  display: none;
}

.left-col {
    display: block;
    float: none;
    width: initial;
    height: initial;
    //position: static;
    margin: 0px;

    position: fixed;
    top: 75px;
    left: -185px;
    width: 185px;
    overflow-y: auto;
    height: calc(100vh - 75px);

    transition: left 1s;
}

.left-col-show {
  left: 0px;
}

.center-col {
    float: none;
    margin: 75px 0 0 0;
    width: 100%
}

.right-col {
    display: none;
}

.container {
  padding: 0;
  margin: 0;
  width: 100%;
}
/*Sidebar properties*/

.sidebar { }

.sidebar-content-box { }

.sidebar-item a, .sidebar-sub-item a { }

.sidebar-item a:active, .sidebar-sub-item a:active, .sidebar-sub-sub-item a:active { }

.sidebar-item a:hover, .sidebar-sub-item a:hover, .sidebar-item:hover, .sidebar-sub-item:hover { }

.sidebar-sub-item a:hover { }

.sidebar-item a { }

.sidebar-sub-item a { }

.sidebar-item.no-link a:hover, .sidebar-item.no-link:hover { }

.sidebar-item.no-link a { }

.collapsed { }

.sidebar-outer { }

/* Index Content properties */
.content-box { }

.content-header { }

.content-left { }

.content-left a { }

.content-right { }

.content {
  width: initial;
}
.content p{ }

.content-summary { }

.index-thumbl {
  display: none;
}

.index-thumbr {
  display: none;
}

.content-footer { }

.content-footer-left, .content-footer-right, .content-footer-center {   }

.content-footer-left {   }

.content-footer-center {   }

.content-footer-right {   }

a.footer-button { }

a.footer-button:visited { }

/*Article and Page Content Styling */
.article-content {
  margin: 0;
  padding: 10px 20px;
  overflow: hidden;
 }

 .mainimg {
 	padding: 0;
 }

.mainimg img {
  width: 100%;
}
.article-img-center {
  width: 100%;
  padding: 0px 0px;
}

.article-img-left {
  padding: 10px 10px 0px 0px;
}

.article-img-right {
  padding: 10px 0px 0px 10px;
}

.article-img-center img {
}

.article-img-left img {
}

.article-img-right img {
}

figcaption {
}

.article-content {
	p, ol, ul, dl, pre, address, table {
		padding: 0;
	}
}

.article-content input {
	margin: 10px 0;
}
.article-content h1, .article-content h2, .article-content h3, .article-content h4, .article-content h5 {
	padding: 0px 0px;
}
/* Table Stylings */
.table-container {
  margin: 0 -10px;
  overflow-x: auto;
}
table.sortable th, table.sortable td {
	min-width: 6em;
	text-align: center;
}

.content table {
}

.article-content table {
  margin: 0;
}

table {
 }
td, th {
  padding: 0.3rem;
 }
 tbody > tr:nth-child(even) {
 }
 tbody > tr:nth-child(odd) {
 }
 thead > tr {
 }
 tbody > tr:hover, tbody > tr:hover a {
 }

/*Horizontal rule stylings */

hr.hrstyle { }

hr.hrsidebar { }

hr.hrsidebartop { }


/* Photo page stuff */
.currlink, .prevlink, .nextlink { }

.currlink a, .prevlink a, .nextlink a { }

.link-container { }

.maindisplay {
  max-width: 100%;
}

.image-wrapper {
  height: initial;
}

.image-cell { }

.thumb_box { }

.expand-thumb-box { }

.thumb-toggle { }

.thumb-toggle:active { }

.select-thumbnail { }

.thumbnail { }
