div.photoreel-container {
    position: relative;
    width: 100%;
    margin: auto;
    height: 400px;
    overflow: hidden;
    transition-property: height;
    transition-duration: 0.5s;
}
div.photoreel-left, div.photoreel-right {
    display: inline-block;
    position: absolute;
    z-index: 1;
    top: 50%;
    font-size: 2rem;
}
div.photoreel-left a, div.photoreel-right a {
  text-decoration: none;
}
div.photoreel-right {
    right: 5%;
}
div.photoreel-left {
    left: 5%;
}
div[class^='photoreel-photo'] {
    position: absolute;
    text-align: center;
    width: 100%;
    left: 100%;
}
div[class^='photoreel-photo'].animate {
    -webkit-transition: left 1s;
    transition: left 1s;
}
div.photoreel-photo-0 {
    left: 0;
}
div[class^='photoreel-photo'] img {
    max-height: 400px;
    max-width: 100%;
    display: block;
    margin: auto;
}
div.photoreel-dots {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 50%;
    text-align: center;
}
a[class^='photoreel-dot'] {
    text-decoration: none;
    color: white;
    font-weight: 900;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    font-size: 1.5rem;
}
a[class^='photoreel-dot']::after {
    content: " □ ";
}
a[class^='photoreel-dot'].selected::after {
    content: " ■ ";
}
span.photoreel-title {
    position: absolute;
    left: 50%;
    color: white;
    bottom: 25px;
    font-weight: 900;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
