.currlink,
.nextlink,
.prevlink {
	font-family: Roboto, Tahoma, Arial, sans-serif;
	font-weight: 500;
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	width: 33%;
}
.currlink a,
.nextlink a,
.prevlink a {
	color: $offwhite;
}
.link-container {
	background-color: $dark-grey;
	height: 40px;
	display: table;
	width: 100%;
}
.maindisplay {
	max-width: 780px;
	max-height: 600px;
	@media screen and (max-width: $mobile-breakpoint) {
		max-width: 100%;
	}
}
.image-wrapper {
	height: 600px;
	width: 100%;
	@media screen and (max-width: $mobile-breakpoint) {
		height: initial;
	}
}
.image-cell {
	text-align: center;
}
.thumb_box {
	height: 150px;
	overflow-x: hidden;
	overflow-y: scroll;
	bottom: 5px;
}
.expand-thumb-box {
	height: 100%;
	overflow-y: hidden;
}
.thumb-toggle {
	width: 80px;
	padding: 2px;
	border-radius: 2px;
	background-color: $dark-grey;
	color: $offwhite;
	margin: 2px auto;
	text-align: center;
	transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
	transition-delay: 0.2s;
	-moz-box-shadow: inset 0 0 0 #000000;
	-webkit-box-shadow: inset 0 0 0 #000000;
	box-shadow: inset 0 0 0 #000000;
}
.thumb-toggle:active {
	-moz-box-shadow: inset 0 0 10px #000000;
	-webkit-box-shadow: inset 0 0 10px #000000;
	box-shadow: inset 0 0 10px #000000;
	transition-delay: 0s;
}
.select-thumbnail {
	border: 5px solid #A6373F;
	max: 100px;
}
.thumbnail {
	border: 0 solid transparent;
	max: 100px;
}
