.sidebar {
	float: left;
	width: 100%;
	height: 100%;
	display: flex;
	flex-flow: column nowrap;
	overflow-x: hidden;
	overflow-y: auto;
}
.sidebar-content-box {
	font-family: $sans;
	font-weight: 500;
	font-size: 0.8rem;
	flex: 0 0 auto;
}
#sidebar-fill {
	flex: 1 0 auto;
}
.sidebar-item a,
.sidebar-sub-item a,
.sidebar-sub-sub-item a {
	display: block;
	height: 100%;
	text-decoration: none;
	color: $offwhite;
	transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
	transition-delay: 0.2s;
	-moz-box-shadow: inset 0 0 0 #000000;
	-webkit-box-shadow: inset 0 0 0 #000000;
	box-shadow: inset 0 0 0 #000000;
	
	background-size: 200% 100%;
	background-image: linear-gradient(to right, rgba(0,0,0,0) 50%, #A6373F 50%);
	transition: background-position 0.5s;
}
.sidebar-item a:visited,
.sidebar-sub-item a:visited,
.sidebar-sub-sub-item a:visited {
	color: $offwhite;
}
.sidebar-item a:active,
.sidebar-sub-item a:active,
.sidebar-sub-sub-item:active {
	-moz-box-shadow: inset 0 0 10px #000000;
	-webkit-box-shadow: inset 0 0 10px #000000;
	box-shadow: inset 0 0 10px #000000;
	transition-delay: 0s;
}
.sidebar-item,
.sidebar-sub-item,
.sidebar-sub-sub-item {
	 &:hover,
	a:hover {
		text-decoration: none;
		background-position: -100% 0;
	}
}
.sidebar-sub-item a:hover {
	font-family: $sans;
	font-weight: 400;
}
.sidebar-item a {
	font-family: $sans;
	font-weight: 500;
	padding: 10px 5px 10px 20px;
}
.sidebar-sub-item a {
	font-family: $sans;
	font-weight: 400;
	padding: 10px 0 10px 35px;
}
.sidebar-sub-sub-item a {
	font-family: $sans;
	font-weight: 100;
	padding: 10px 0 10px 35px;
}
.sidebar-item.no-link a:hover,
.sidebar-item.no-link:hover {
	text-decoration: none;
	background-color: transparent;
}
.sidebar-item.no-link a {
	transition: none;
	box-shadow: none;
}
.collapsed {
	max-height: 0;
}
.sidebar-outer {
	-webkit-transition: max-height 0.5s ease;
	-moz-transition: max-height 0.5s ease;
	-o-transition: max-height 0.5s ease;
	transition: max-height 0.5s ease;
	overflow: hidden;
}
.sidebar-closer {
	@media screen and (max-width: $mobile-breakpoint) {
		min-height: 100%;
	  width: calc(100% - 185px);
	  position: fixed;
	  right: 0;
	  z-index: 5;}
}
