/* IC caving web site style sheet for main pages
*/

@font-face {
	font-family: 'Roboto-Regular'; /*a name to be used later*/
	src: url('../fonts/Roboto-Regular.ttf'); /*URL to font*/
}

@font-face {
	font-family: 'Roboto-Black'; /*a name to be used later*/
	src: url('../fonts/Roboto-Black.ttf'); /*URL to font*/
}

@font-face {
	font-family: 'Roboto-Bold'; /*a name to be used later*/
	src: url('../fonts/Roboto-Bold.ttf'); /*URL to font*/
}

@font-face {
	font-family: 'Roboto-Medium'; /*a name to be used later*/
	src: url('../fonts/Roboto-Medium.ttf'); /*URL to font*/
}

@font-face {
	font-family: 'Roboto-Thin'; /*a name to be used later*/
	src: url('../fonts/Roboto-Thin.ttf'); /*URL to font*/
}

/*
Colour Dictionary:
#D46A6A: Pink (Link hover)
#AA3939: Light Red (Highlighting, links)
#801515: Darker Red (Visited Links)

#143B46: Dark Turquoise (Background Colour for Banner/Sidebar/Headers H1)
#0D4D4D: Turquoise (H2)
#407F7F; Light Turquoise (Highlight colour for Banner/Sidebar/Headers H3/text)
#5DACC2: Light Blue (Body Background)

#E8E8E8: Off White (Backgrounds/ Large Text on dark backgrounds)
*/

/* Global Page Properties */

body {
	background-color: #5DACC2;
	background-image: url(../../assets/nz.svg);
	background-size: 700px;
	background-repeat: no-repeat;
	color: #000000;
	background-position-y: 50px;
	background-position-x: right;
	background-attachment: fixed;
	font-family: Roboto-Regular, Helvetica, Arial, sans-serif;
	font-size: 16px;
	margin: 0px -220px 0px 0px;
	padding: 0px 220px 0px 0px; /* To allow background to overflow into right sidebar */
	overflow-x: hidden;
}

/*Global Text and link properties */

p {
		line-height: 1.5rem;
}

h1 {
		font-family: Roboto-Bold, Helvetica, Arial, sans-serif;
		font-size: 2.5rem;
		color:	#143B46;
		margin: 1rem 0rem;
		}

h2 {
		font-size: 1.5rem;
		font-weight: bold;
		color: #0D4D4D;
		margin: 1rem 0rem;
		}

h3 {
		font-size: 1.125rem;
		font-weight: bold;
		color: #407F7F;
		margin: 1rem 0rem;
		}
h4 {
		font-size: 1rem;
		font-weight: bold;
		color: #407F7F;
		margin: 1rem 0rem;
		text-align: right;
}


a {
	color: #A6373F;
	text-decoration: underline;
}

a:visited {
	color: #801515
}

a:hover {
	color: #D46A6A
}

/* Useful Tags */
.nodisplay {
	display: none;
}

.nopad {
	padding: 0px;
}

.center {
	text-align: center;
}

/* Column Layout */

.banner {
	min-height: 90px;
	background-color: #143B46;
	overflow: hidden;
	width: 100%;
	position:	fixed;

	display: table;
}

.banner-wrap {
	display: table-row;
}

.banner-title {
	font-size: 3rem;
	font-family: Roboto-Black, Helvetica, Arial, sans-serif;
	padding: 15px 0px 15px 20px;
	color: #E8E8E8;

	display: table-cell;
	width: 100%;
	vertical-align: top;
}

.banner-title-menu {
	display: none;
}

.banner-date {
	color: #407F7F;
	display: inline-block;
}

.logo {
	width: 220px;
	height: 85px;
	background-image: url(../../assets/logo.svg);
	background-size: 180px 85px;
	background-position: center;
	background-repeat: no-repeat;
	float: left;

	display: table-cell;
}


.left-col {
		float: left;
		width: 220px;
		height: 100%;
		vertical-align: top;
		background-color: #143B46;
		overflow-y: auto;
		overflow-x: hidden;
		position: fixed;
		margin-top: 90px;
		z-index: 1;
}

.center-col {
		float: left;
		vertical-align: top;
		margin: 90px 0px 0px 220px;
		height: 100%;
		width: calc(100% - 440px);
}

.right-col {
		float: left;
		height: 100%;
		width: 220px;
		vertical-align: top;
}

.container {
	width: 800px;
	margin: 20px auto 20px auto;
}

/*Sidebar properties*/.

.sidebar {
	min-height: 100%;
	float: left;
	width: 100%;
 }

.sidebar-content-box {
	font-family: Roboto-Medium, Helvetica, Arial, sans-serif;
	font-size: 0.8rem;
}

.sidebar-item a, .sidebar-sub-item a {
	display: block;
	height: 100%;
	text-decoration: none;
	color: #E8E8E8;

	transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
	transition-delay: 0.2s;
	-moz-box-shadow:    inset 0 0 0px #000000;
	-webkit-box-shadow: inset 0 0 0px #000000;
	box-shadow:         inset 0 0 0px #000000;
}

.sidebar-item a:active, .sidebar-sub-item a:active, .sidebar-sub-sub-item a:active {
	-moz-box-shadow:    inset 0 0 10px #000000;
	-webkit-box-shadow: inset 0 0 10px #000000;
	box-shadow:         inset 0 0 10px #000000;
	transition-delay: 0s;
}

.sidebar-item a:hover, .sidebar-sub-item a:hover, .sidebar-item:hover, .sidebar-sub-item:hover {
	text-decoration: none;
	background-color: #A6373F;
}

.sidebar-sub-item a:hover {
	font-family: Roboto-Regular, Helvetica, Arial, sans-serif;
}
.sidebar-item a {
	font-family: Roboto-Medium, Helvetica, Arial, sans-serif;
	padding: 10px 0px 10px 20px;
}

.sidebar-sub-item a {
	font-family: Roboto-Thin, Helvetica, Arial, sans-serif;
	padding: 10px 0px 10px 60px;
}

.sidebar-item.no-link a:hover, .sidebar-item.no-link:hover {
	text-decoration: none;
	background-color: transparent;
}

.sidebar-item.no-link a {
	transition: none;
	box-shadow: none;
}

.collapsed {
	max-height:0px;
}

.sidebar-outer {
	-webkit-transition: max-height .5s ease;
		-moz-transition: max-height .5s ease;
					transition: max-height .5s ease;
	overflow: hidden;
}
/* Index Content properties */

.content-box {
	margin: 0px 0px 20px 0px;
	width: 100%;
	border-radius: 2px;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
	background-color: rgba(232, 232, 232, 0.83);
}

.content-header {
	display: table;
	width: 100%;
}

.content-left {
	height: 100%;
	display: table-cell;
	padding: 10px 10px 10px 10px;
	background-color: #143B46;
	color: #E8E8E8;
}

.content-left a {
	color: #E8E8E8;
	text-decoration: none;
	font-family: Roboto-Bold, Helvetica, Arial, sans-serif;
}

.content-right {
	height: 100%;
	width: 150px;
	text-align: right;
	display: table-cell;
	padding: 10px 10px 10px 10px;
	background-color: #407F7F;
	color: #E8E8E8;
	font-family: Roboto-Medium, Helvetica, Arial, sans-serif;
}

.content {
	width: calc(100% - 20px);
	padding: 10px 10px 0px 10px;
}

.content-summary {
	padding: 0px 10px;
	vertical-align: top;
}

.content-summary p {
	margin: 0px;
}

.index-thumbl {
	float: left;
	margin-right: 10px;
}

.index-thumbr {
	float: right;
	margin-left: 10px;
}
.content-footer {
	width: 100%;
	display: table;
}

.content-footer-left, .content-footer-right, .content-footer-center {
		width: 50%;
		display: table-cell;
		padding: 5px 5px 10px 5px;
	}

.content-footer-left {
	text-align: right;
	}

.content-footer-center {
		text-align: center;
	}

.content-footer-right {
	text-align: left;
	}

a.footer-button {
	padding: 5px 5px 5px 5px;
	font-family: Roboto-Medium, Helvetica, Arial, sans-serif;
	color: #AA3939;
	text-decoration: underline;
}

a.footer-button:visited {
	color: #801515
}

a.footer-button:hover {
	color: #D46A6A
}

/*Article and Page Content Styling */
.article-content {
	border-radius: 2px;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
	background-color: rgba(232, 232, 232, 0.83);
	padding: 10px 10px 10px 10px;
}

.article-content p,ol,ul {
	padding: 0px 50px;
}

.article-content h1,h2,h3,h4,h5 {
	padding: 0px 25px;
}

.mainimg {
	text-align: center;
}

.mainimg img {
	max-width: 750px;
	width: 100%;
}

.article-img-center {
  width: calc(100% - 50px);
  text-align: center;
  padding: 0px 25px;
  margin: 0px;
}

.article-img-left {
	width: 50%;
  float: left;
  margin: 0px;
  padding: 10px 25px 0px 25px;
  text-align: center;
}

.article-img-right {
	width: 50%;
  float: right;
  margin: 0px;
  padding: 10px 25px 0px 25px;
  text-align: center;
}

.article-img-center img {
	width: 100%
}

.article-img-left img {
	width: 100%
}

.article-img-right img {
	width: 100%
}

figcaption {
	font-size: 0.9rem;
}

.photo-button {
	padding: 5px 5px 5px 5px;
	color: #AA3939;
	text-decoration: underline;
	font-size: 1.5rem;
	font-weight: bold;
}

.photo-button-wrapper {
	text-align: center;
}


/*Horizontal rule stylings */

hr.hrstyle {
	border: 0;
	height: 1px;
	background: #333;
	background-image: -webkit-linear-gradient(left, #ccc, #333, #ccc);
	background-image:    -moz-linear-gradient(left, #ccc, #333, #ccc);
	background-image:     -ms-linear-gradient(left, #ccc, #333, #ccc);
	background-image:      -o-linear-gradient(left, #ccc, #333, #ccc);
}

hr.hrsidebar {
	border-top: 1px solid #E8E8E8;
	border-bottom: 0px solid transparent;
}

hr.hrsidebartop {
	border-top: 1px solid #E8E8E8;
	border-bottom: 0px solid transparent;
	margin-top: 0px;
}

/* Photo page stuff */
.currlink, .prevlink, .nextlink {
	font-family: Roboto-Medium, Helvetica, Arial, sans-serif;
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	width: 33%;
}

.currlink a, .prevlink a, .nextlink a {
	color: #E8E8E8;
}

.link-container {
	background-color: #143B46;
	height: 40px;
	display: table;
	width: 100%;
}

.maindisplay {
	max-width: 780px;
	max-height: 600px;
}

.image-wrapper {
	height: 600px;
	width: 100%;
}

.image-cell {
	text-align: center;

}

.thumb_box {
	height: 150px;
	overflow-x: hidden;
	overflow-y: scroll;
	bottom: 5px;
}

.expand-thumb-box {
	height: 100%;
	overflow-y: hidden;
}

.thumb-toggle {
	width: 80px;
	padding: 2px;
	border-radius: 2px;
	background-color: #143B46;
	color: #E8E8E8;
	margin: 2px auto 2px auto;
	text-align: center;

	transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
	transition-delay: 0.2s;
	-moz-box-shadow:    inset 0 0 0px #000000;
	-webkit-box-shadow: inset 0 0 0px #000000;
	box-shadow:         inset 0 0 0px #000000;
}

.thumb-toggle:active {
	-moz-box-shadow:    inset 0 0 10px #000000;
	-webkit-box-shadow: inset 0 0 10px #000000;
	box-shadow:         inset 0 0 10px #000000;
	transition-delay: 0s;
}

.select-thumbnail {
	border: 5px solid #A6373F;
	max: 100px;
}
.thumbnail {
	border: 0px solid transparent;
	max: 100px;
}

  /*Screen size stuff*/
  /* Below 1500px right-col removed, centre col resized and given some padding against the left col */
@media screen and (max-width: 1500px) {
.container {
	padding-left: 5px;
}
.center-col {
    width: calc(100% - 220px);
}
.right-col {
    display: none;
}
}

/* Below 1100px*/
@media screen and (max-width: 1100px) {
		.container {
			width: calc(100% - 20px);
		}
		.maindisplay {
			max-width: 100%;
		}
		.image-wrapper {
			height: 100%;
			width: 100%;
		}
}
