{% extends "base.html" %}
{% block title %}{{ article.title }} - {{ SITENAME }}{% endblock %}
{% block head %}<BASE href="{{ SITEURL }}/{{ article.url }}">{% endblock %}

{% block banner %}{{ article.title }} <div class="banner-date">{{ article.date.strftime('%d-%m-%Y') }}</div> {% endblock banner %}


{% block content %}

<div class="container">
  <div class="article-content">
      {% if article.mainimg is defined %}
        {% if article.mainimg != '' %}
          {% if article.archiveloc %}
            <div class="mainimg">
              <a href="{{ article.archiveloc }}"><img src="{{ article.archiveloc }}{{ article.mainimg}}"></a>
            </div>
            <div class="photo-button-wrapper"><a class="photo-button" href="{{ article.archiveloc }}">Photos</a></div>
          {% endif %}
        {% endif %}
      {% endif %}

      {{ article.content }}

    </div>
</div>
{% endblock %}
