{% extends "base.html" %}

{% block head %}

<script>
$(function() {
  $('div.thumb-toggle').click(function(){
        $('div.thumb_box').toggleClass('expand-thumb-box');
        $('div.thumb-toggle').toggleClass('nodisplay');
    });
});
</script>

{% endblock %}

{% block banner %}Photos{% endblock banner %}

{% block content %}

<div class="container">

<?php

$files = array();

foreach (scandir('.') as $file)
{
    $file_parts = pathinfo($file);
    if (strcasecmp($file_parts['extension'], 'gif') == 0 || strcasecmp($file_parts['extension'], 'jpg') == 0 ||strcasecmp($file_parts['extension'], 'png') == 0)
    {
        if (strpos($file, '--thumb') == false and strpos($file, '--orig') == false)
        {
            $files[] = $file;
        }
    }
}

$search = $_GET["image"];
$imagekey = array_search($search, $files);

echo '<div class="link-container">' . "\n";
if ( $files[$imagekey-1] != null)
  {
  echo '<div class="prevlink"><a id="prevlink" href=".?image=' . $files[$imagekey-1] . '">Previous</a></div>' . "\n";
  }
else
  {
  echo '<div class="prevlink" ><a id="prevlink">Previous</a></div><br>' . "\n";
  }
if ( $files[$imagekey] != null)
  {
  $file_parts = pathinfo($files[$imagekey]);
  echo '<div class="currlink"><a id="currlink" href="' . $file_parts['filename'] . '--orig.' . $file_parts['extension'] . '">Original</a></div>' . "\n";
  }
else
  {
  echo '<div class="currlink" ><a id="prevlink">Original</a></div><br>' . "\n";
  }
if ( $files[$imagekey+1] != null)
  {
  echo '<div class="nextlink"><a id="nextlink" href=".?image=' . $files[$imagekey+1] . '">Next</a></div>' . "\n";
  }
else
  {
  echo '<div class="nextlink" ><p id="nextlink">Next</a></div><br>' . "\n";
  }

echo '<div style="clear: both;"></div>' . "\n";
echo '</div>' . "\n";

?>

<div class="article-content">

<?php

echo '<div class="image-wrapper"><div class="image-cell">';
if ($files[$imagekey] != null)
  {
  if ( $files[$imagekey+1] != null)
  {
    echo '<a id="mainlink" href=".?image=' . $files[$imagekey+1] . '">';
  }
  else
  {
    echo '<a id="mainlink" href=".?image=' . $files[0] . '">';
  }
  echo '<img class="maindisplay" id="maindisplay" alt="Click thumbnails below to see image. Click image to go to next image" src="' . $files[$imagekey] . '"></a></div></div>' . "\n";
  }
else
  {
  echo '<a id="mainlink">';
  echo '<img class="maindisplay" id="maindisplay" alt="Click thumbnails below to see image. Click image to get original"></a></div></div>' . "\n";
  }

echo '<div class="thumb-toggle nodisplay">Collapse</div>' . "\n";
echo '<div class="thumb-toggle">Expand</div>' . "\n";

echo '<div id ="thumb_box" class="thumb_box">' . "\n";

foreach ($files as $key=>$file) {
    $file_parts = pathinfo($file);

    echo '<a class="thumbnail" id=' . $file . ' href=".?image=' . $file . '">' . "\n";
    if ($imagekey == $key)
  {
    echo '<img id=image-' . $file . ' class="select-thumbnail" src="' . $file_parts['filename'] . '--thumb.' . $file_parts['extension'] . '"></a>' . "\n";
  }
  else
  {
    echo '<img id=image-' . $file . ' class="thumbnail" src="' . $file_parts['filename'] . '--thumb.' . $file_parts['extension'] . '"></a>' . "\n";
  }
}

echo '</div>' . "\n";

?>

</div>
</div>

{% endblock %}
