<div class="sidebar">
      <div class="logo"><img src="{{ SITEURL }}/assets/sidebariclogo.png"></div>
      <hr class="hrsidebartop">

      <div class="sidebar-content-box">
        <div class="sidebar-item"><a href="{{ SITEURL }}/">Home</a></div>
        <div class="sidebar-item"><a href="{{ SITEURL }}/pages/calendar.html">Calendar</a></div>
        <div class="sidebar-item"><a href="{{ SITEURL }}/pages/clubinfo.html">Club Info</a></div>
        <div class="sidebar-item"><a href="{{ SITEURL }}/pages/library.html">Library</a></div>
        <div class="sidebar-item"><a href="{{ SITEURL }}/pages/contacts.html">Contacts</a></div>
        <div class="sidebar-item"><a href="{{ SITEURL }}/pages/awards.html">Awards</a></div>
      </div>

      <hr class="hrsidebar">

      <div class="sidebar-content-box">
        <div class="sidebar-item" data-idouter="trips-outer" data-idinner="trips-inner"><a>Trips and Posts</a></div>
        <div class="sidebar-outer collapsed" id="trips-outer">
          <div class="sidebar-inner" id="trips-inner">
            {% set year = '' %}
            {% for item in yearlist %}
              {% if item.acyear != year %}
                {% if year != '' %}
                </div>
                </div>
                {% endif %}
                {% set year = item.acyear %}
                <div class="sidebar-sub-item" data-idouter="trips-sub-outer-{{ item.acyear }}" data-idinner="trips-sub-inner-{{ item.acyear }}" data-upidouter="trips-outer" data-upidinner="trips-inner"><a>{{ item.acyear }}</a></div>
                <div class="sidebar-outer collapsed" id="trips-sub-outer-{{ item.acyear }}" style="overflow: hidden;">
                <div class="sidebar-inner" id="trips-sub-inner-{{ item.acyear }}">
                <div class="sidebar-sub-sub-item"><a href="{{ SITEURL }}/{{ item.article.url }}">{{ item.article.title }}</a></div>
              {% else %}
                <div class="sidebar-sub-sub-item"><a href="{{ SITEURL }}/{{ item.article.url }}">{{ item.article.title }}</a></div>
              {% endif %}
            {% endfor %}

            {% if yearlist|count > 0 %}
            </div>
            </div>
            {% endif %}
          </div>
        </div>

      <div class="sidebar-content-box">
        <div class="sidebar-item" data-idouter="tours-outer" data-idinner="tours-inner"><a>Tours</a></div>
        <div class="sidebar-outer collapsed" id="tours-outer">
          <div class="sidebar-inner" id="tours-inner">
            {% for article in articles %}
              {% if article.type == 'tour' %}
                <div class="sidebar-sub-sub-item"><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></div>
              {% endif %}
            {% endfor %}
          </div>
        </div>
      </div>
    </div>

      <div class="sidebar-content-box">
        <div class="sidebar-item"><a href="{{ SITEURL }}/photo_archive/">Photos</a></div>
      </div>

      <hr class="hrsidebar">

      <div id="sidebar-fill" class="sidebar-content-box">
      </div>

      <div class="sidebar-content-box">
        <div class="sidebar-item"><a href="http://www.google.com/recaptcha/mailhide/d?k=01pKgPf4L76j23E4ymTAu8fw==&c=CoX_UvK7tWMqLjrzhcaEXTCP8fRKKSw-Cl1eAzdIcj4=">Email Us</a></div>
      </div>

      <script>
      $(function() {
        $('div.sidebar-item, div.sidebar-sub-item').click(function(){
          //Check if in sub-menu. If so then set max-height of outer menu to default so it expands nicely with the sub menu transition.
          if ($(this).data("upidouter") != null && $(this).data("upidinner")) {
            var outer = $(this).data("upidouter");
            var inner = $(this).data("upidinner");
            var outerelement = $('#' + outer);
            var innerelement = $('#' + inner);
            if (!outerelement.hasClass('collapsed')) {
              //var newheight = parseInt(outerelement.css('max-height'), 10) + height;
              outerelement.css({ 'max-height': '' });
            }
          }

          var outer = $(this).data("idouter");
          var inner = $(this).data("idinner");
          var outerelement = $('#' + outer);
          var innerelement = $('#' + inner);
          //$(outerelement).bind("transitionend webkitTransitionEnd oTransitionEnd MSTransitionEnd", function(){  if (!$(this).hasClass('collapsed')){ $(this).css({ 'max-height': $(innerelement).outerHeight() + 'px' }); } });

          //Ensure that outer element knows the inner height
          //Needed to undo the sub-menus attribute removal from above
          var height = innerelement.outerHeight();
          outerelement.css({ 'max-height': (parseInt(height)).toString() + 'px' });
          //If collapsing, set max-height to 0. Delay to allow transition to work because we only just set the max-height
          if (!outerelement.hasClass('collapsed')) {
            setTimeout(function() {
              outerelement.css({ 'max-height': '0px' });
            }, 50);
          }
          outerelement.toggleClass('collapsed');

          //Collapse all sub menus when a menu is collapsed
          //Delay ensures outer transition looks nice
          if (outerelement.hasClass('collapsed')){
            setTimeout(function() {
              $(outerelement).find(".sidebar-outer").addClass('collapsed').css({ 'max-height': '0px' });
            }, 400);
          }
        });
      });
      </script>
</div>
</div>
